@(profileForm: Form[Account])
@import helper._

<div id="editProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="editProfileModalLabel">Profil bearbeiten</h3>
	</div>
	<div class="modal-body">
		@inputText(
			profileForm("firstname"), 
			'_label -> "Vorname *",
			'placeholder -> "Max" 
        )
		@inputText(
			profileForm("lastname"), 
			'_label -> "Nachname *",
			'placeholder -> "Mustermann"
		)
		@inputText(
			profileForm("email"),
			'_label -> "Email *",
			'placeholder -> "max.mustermann@muster.de"
		)
		<dl>
			<dt>Studiengang</dt>
			<dd><select name="program">
						<option>Angewandte Informatik</option>
						<option>Bekleidungstechnik</option>
						<option>Computer Engineering</option>
						<option>Elektrotechnik</option>
						<option>Facility Management</option>
						<option>Game Design</option>
			</select></dd>
		</dl>
		<dl>
			<dt>Semester</dt>
			<dd><select name="semester">
						<option>1. Semester</option>
						<option>2. Semester</option>
						<option>3. Semester</option>
						<option>4. Semester</option>
						<option>5. Semester</option>
						<option>6. Semester</option>
						<option>7. Semester</option>
						<option>8. Semester</option>
			</select><select name="degree">
						<option>Bachelor</option>
						<option>Master</option>
						<option>Diplom</option>
			</select></dd>
		</dl>
		<dl>
			<dt>Avatar</dt>
			<dd id="avatars">
				<img id="a0" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a1" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a2" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a3" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a4" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a5" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a6" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a7" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a8" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
				<img id="a9" class="img-polaroid" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" alt="avatar" onclick="updateAvatar(this)" />
			</dd>
		</dl>
		<input id="avatar" name="avatar" type="hidden" value="">
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
		<button class="btn btn-warning">Speichern</button>
	</div>
</div>