@(profile: Account, profileForm: Form[Account])
@import helper._
@import models._

@form(routes.ProfileController.update(profile.id), 'id -> "ajaxForm") {

	@inputText(
		profileForm("firstname"), 
		'_label -> "Vorname *",
		'placeholder -> "Max" 
       )
	@inputText(
		profileForm("lastname"), 
		'_label -> "Nachname *",
		'placeholder -> "Mustermann"
	)
	@inputText(
		profileForm("email"),
		'_label -> "Email *",
		'placeholder -> "max.mustermann@muster.de"
	)
	<dl>
		<dt>Studiengang</dt>
		<dd><select name="studycourse">
		@if(profile.studycourse == null) {
			<option value="0" selected="selected">Keine Angabe</option>
		} else {
			<option value="0">Keine Angabe</option>
		}
				
		@for(studycourse <- Studycourse.getAll()){
			<option value="@studycourse.id" @if(profile.studycourse !=null && profile.studycourse.equals(studycourse)){selected="selected"}>@studycourse.title</option>
		}
		</select></dd>
	</dl>
	<dl>
		<dt>Semester</dt>
		<dd><select name="semester">
					@if(profile.semester == null) {
							<option value="0" selected="selected">Keine Angabe</option>
					} else {
							<option value="0">Keine Angabe</option>
					}
					<option value="1" @if(profile.semester !=null && profile.semester == 1){selected="selected"}>1. Semester</option>
					<option value="2" @if(profile.semester !=null && profile.semester == 2){selected="selected"}>2. Semester</option>
					<option value="3" @if(profile.semester !=null && profile.semester == 3){selected="selected"}>3. Semester</option>
					<option value="4" @if(profile.semester !=null && profile.semester == 4){selected="selected"}>4. Semester</option>
					<option value="5" @if(profile.semester !=null && profile.semester == 5){selected="selected"}>5. Semester</option>
					<option value="6" @if(profile.semester !=null && profile.semester == 6){selected="selected"}>6. Semester</option>
					<option value="7" @if(profile.semester !=null && profile.semester == 7){selected="selected"}>7. Semester</option>
					<option value="8" @if(profile.semester !=null && profile.semester == 8){selected="selected"}>8. Semester</option>
		</select><select name="degree">
					@if(profile.degree == null) {
							<option value="null" selected="selected">Keine Angabe</option>
					} else {
							<option value="null">Keine Angabe</option>
					}
					<option value="Bachelor" @if(profile.degree !=null && profile.degree.equals("Bachelor")){selected="selected"}>Bachelor</option>
					<option value="Master" @if(profile.degree !=null && profile.degree.equals("Master")){selected="selected"}>Master</option>
					<option value="Diplom" @if(profile.degree !=null && profile.degree.equals("Diplom")){selected="selected"}>Diplom</option>
		</select></dd>
	</dl>
	<dl>
		<dt>Avatar</dt>
		<dd id="avatars">
			<img id="a0" class="img-polaroid" src="@routes.Assets.at("images/avatars/a0.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a1" class="img-polaroid" src="@routes.Assets.at("images/avatars/a1.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a2" class="img-polaroid" src="@routes.Assets.at("images/avatars/a2.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a3" class="img-polaroid" src="@routes.Assets.at("images/avatars/a3.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a4" class="img-polaroid" src="@routes.Assets.at("images/avatars/a4.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a5" class="img-polaroid" src="@routes.Assets.at("images/avatars/a5.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a6" class="img-polaroid" src="@routes.Assets.at("images/avatars/a6.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a7" class="img-polaroid" src="@routes.Assets.at("images/avatars/a7.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a8" class="img-polaroid" src="@routes.Assets.at("images/avatars/a8.png")" alt="avatar" onclick="updateAvatar(this)" />
			<img id="a9" class="img-polaroid" src="@routes.Assets.at("images/avatars/a9.png")" alt="avatar" onclick="updateAvatar(this)" />
		</dd>
	</dl>
	<input id="avatar" name="avatar" type="hidden" value="">
	
	<script type="text/javascript">
	
	var aID = "@profile.avatar";
	
	function updateAvatar(parent) {
		var childs = document.getElementById("avatars").getElementsByClassName("img-polaroid");
		for (i = 0; i < childs.length; i++) {
			childs[i].className = "img-polaroid";
		}
		parent.className = "img-polaroid active";
		document.getElementById("avatar").value = parent.id;
	}
	
	function setAvatar(id) {
		document.getElementById(id).className = "img-polaroid active";
		document.getElementById("avatar").value = id;
	}
	
	setAvatar(aID);
	
	</script>
	


	
}
