@(profileForm: Form[Account])
@import helper._

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="editModalLabel">Profil bearbeiten</h3>
	</div>
	<div class="modal-body">
		@inputText(
			profileForm("firstname"), 
			'_label -> "Vorname *",
			'placeholder -> "Max" 
        )
		@inputText(
			profileForm("lastname"), 
			'_label -> "Nachname *",
			'placeholder -> "Mustermann"
		)
		@inputText(
			profileForm("email"),
			'_label -> "Email *",
			'placeholder -> "max.mustermann@muster.de"
		)
		<dl>
			<dt>Studiengang</dt>
			<dd><select name="program">
						<option>Angewandte Informatik</option>
						<option>Bekleidungstechnik</option>
						<option>Computer Engineering</option>
						<option>Elektrotechnik</option>
						<option>Facility Management</option>
						<option>Game Design</option>
			</select></dd>
		</dl>
		<dl>
			<dt>Semester</dt>
			<dd><select name="semester">
						<option>1. Semester</option>
						<option>2. Semester</option>
						<option>3. Semester</option>
						<option>4. Semester</option>
						<option>5. Semester</option>
						<option>6. Semester</option>
						<option>7. Semester</option>
						<option>8. Semester</option>
			</select><select name="degree">
						<option>Bachelor</option>
						<option>Master</option>
						<option>Diplom</option>
			</select></dd>
		</dl>
		<dl>
			<dt>Geburtsdatum</dt>
			<dd><select name="day">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
			</select><select name="month">
						<option>Januar</option>
						<option>Februar</option>
						<option>April</option>
						<option>Mai</option>
						<option>Juni</option>
						<option>Juli</option>
						<option>August</option>
						<option>September</option>
						<option>Oktober</option>
						<option>November</option>
						<option>Dezember</option>
			</select><select name="year">
						<option>1999</option>
						<option>1998</option>
						<option>1987</option>
			</select></dd>
		</dl>
		<dl>
			<dt>Wohnort</dt>
			<dd><input type="text" placeholder="Berlin Charlottenburg"></dd>
		</dl>
		<dl>
			<dt>Sprache</dt>
			<dd><input type="text" placeholder="deutsch"></dd>
		</dl>
		<dl>
			<dt>Webseite</dt>
			<dd><input type="text" placeholder="www.max-mustermann.de"></dd>
		</dl>
		<dl>
			<dt>Interessen</dt>
			<dd><textarea rows="4"></textarea></dd>
		</dl>
		<dl>
			<dt>Persönlicher Text</dt>
			<dd><textarea rows="4"></textarea></dd>
		</dl>
		<dl>
			<dt>Avatar</dt>
			<dd>
				<span class="btn btn-warning fileinput-button">
					<i class="icon-plus icon-white"></i>
					<span>Select files...</span>
					<!-- The file input field used as target for the file upload widget -->
					<input id="fileupload" type="file" name="files[]" multiple="">
				</span>
				<br /><br />
				<div id="progress" class="progress progress-success progress-striped">
					<div class="bar"></div>
				</div>
				<div id="files"></div>
				<img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="80" width="80" class="img-polaroid" />
			</dd>
		</dl>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
		<button class="btn btn-warning">Speichern</button>
	</div>
</div>