@(profile: Account, profileForm: Form[Account])
@import helper._

@form(routes.ProfileController.updatePassword(profile.id), 'class -> "ajaxForm") {

		@inputPassword(
			profileForm("oldPassword"), 
			'_label -> "Altes Passwort",
			'_error -> profileForm.error("oldPassword")
		)

		@inputPassword(
			profileForm("password"), 
			'_label -> "Neues Passwort",
			'_error -> profileForm.error("password")
		)
		
		@inputPassword(
			profileForm("repeatPassword"), 
			'_label -> "Wiederholung",
			'_error -> profileForm.error("repeatPassword")
		)

}

