<div id="editPwModal" class="modal hide fade" tabindex="-1"
	role="dialog" aria-labelledby="editPwModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<h3 id="editPwModalLabel">Passwort ändern</h3>
	</div>
	<div class="modal-body">
		<table class="table">
			<tr>
				<th>Altes Passwort</th>
				<td colspan="3"><input type="password" placeholder="">
				</td>
			</tr>
			<tr>
				<th>Neues Passwort</th>
				<td colspan="3"><input type="password" placeholder="">
				</td>
			</tr>
			<tr>
				<th>Wiederholung</th>
				<td colspan="3"><input type="password" placeholder="">
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
		<button class="btn btn-warning">Speichern</button>
	</div>
</div>