 @(courses: List[Course])
<table class="table table-hover" id="searchCourseResults">
	<colgroup>
		<col width="40%">
		<col width="30%">
		<col width="30%">
	</colgroup>
	<thead>
		<tr>
			<th>Kursname</th>
			<th>Erstellt von</th>
			<th>Verf&uuml;gbare Optionen</th>
		</tr>
	</thead>
	<tbody>

		<!-- Fuer Fabi: Ajax-Abfrage um alle Gruppen zu holen. -->
		@if(courses != null){ @for(course <- courses) {
		<tr>
			
				<a href="@routes.CourseController.view(course.id)" rel="popover"
				data-trigger="hover" data-content="@course.description"
				data-original-title="Beschreibung"> @course.title</a>
			</td>
			<td><a href="#" rel="popover" data-html="true"
				data-trigger="hover"
				data-content="Rolle: Student <br /> Angewandte Informatik (Master)"
				data-original-title="@course.owner.name" data-placement="top">@course.owner.name</a></td>
			<td><a href="@routes.CourseController.join(course.id)"
				rel="tooltip" title="Beitreten"><i class="icon-ok"></i></a></td>
		</tr>
		} }


	</tbody>
</table>