@(groupForm: Form[Group]) 
@import helper._

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">x</button>
	<h3 id="createNewGroupModalLabel">Neue Gruppe erstellen</h3>
</div>
<div class="modal-body" id="newGroup">

      @if(groupForm.hasGlobalErrors) {
		  <div class="alert alert-error fade in">
			  <button type="button" class="close" data-dismiss="alert">x</button>
              @groupForm.globalError.message
          </div>
      }
      

	@form(routes.GroupController.create(), 'id -> "newGroupForm") {

	@inputText(groupForm("title"), '_label -> "Titel")
	@textarea(groupForm("description"), '_label -> "Beschreibung")
	<!--
	@checkbox(groupForm("isClosed"), '_label -> None, '_text -> "Geschlossene Gruppe") 
	-->
	<dl>
		<dt>Sichtbarkeit</dt>
		<dd>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
				<i class="icon-globe"></i> Öffentliche Gruppe
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
				<i class="icon-lock"></i> Private Gruppe
			</label>
		</dd>
	</dl>
	}
	
</div>
<div class="modal-footer">
    <div class="loading"></div>
	<button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
	<button class="btn btn-warning" aria-hidden="true" id="submitGroup">Gruppe erstellen</button>
</div>


