<div class="media">
	<a class="pull-left" href="#"> <img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="50" width="50" class="img-polaroid" /></a>
	<div class="media-body">
		<h5 class="media-heading">
			<a href="#" rel="popover" data-html="true" data-trigger="hover" data-delay="500"
			   data-content="<div class=&quot;own-popover&quot;>Rolle: Student <br /> Studiengang:  Angewandte Informatik </div>"
			   data-original-title="Name Nachname" data-placement="top">Name Nachname</a>
		</h5>
		<small>22.05.2012</small>
		<br /><br />
		<small>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
			tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
			voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
			Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
			dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
			elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
			magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
			justo duo dolores et ea rebum.
		</small>
	</div>
</div>