@(comment: Post)
<div class="media">
	<a class="pull-left" href="#"> <img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="50" width="50" class="img-polaroid" /></a>
	<div class="media-body">
		<h5 class="media-heading">
			<a href="#" rel="popover" data-html="true" data-trigger="hover" data-delay="500"
			   data-content="<div class=&quot;own-popover&quot;>Rolle: Student <br /> Studiengang:  Angewandte Informatik </div>"
			   data-original-title="Name Nachname" data-placement="top">Name Nachname</a>
		</h5>
		<small>@comment.createdAt</small>
		<br /><br />
		<small>
			@comment.content
		</small>
	</div>
</div>