@(id: Long)
<div id="confirmModalDeletePost@id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="confirmModalLabel">Post löschen</h3>
	</div>
	<div class="modal-body">
		Möchtest du diesen Post wirklich löschen?<br />
	</div>
	<div class="modal-footer">
		<a href="@routes.GroupController.deletePost(id)" class="btn btn-warning">Ja</a>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Nein</button>
	</div>
</div>