@(group: Group)
@import helper._

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="confirmModalLabel">
					@if(group.isClosed) {
					<span class="glyphicon glyphicon-lock"></span>
					} else {
					<span class="glyphicon glyphicon-globe"></span>
					}
					@truncate(group.title,30) löschen
				</h4>
			</div>
			<div class="modal-body">
				Möchtest du <b>@truncate(group.title,30)</b> wirklich löschen?<br />
				Alle dazugehörigen Post, Kommentare, Mitglieder, Medien werden ebenfalls gelöscht!
			</div>
			<div class="modal-footer">
				<a type="button"  class="btn btn-warning" href="@routes.GroupController.delete(group.id)">Ja</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">Nein</button>
			</div>
		</div>
	</div>