@(group: Group)

<div class="modal-header">
	<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
	<h3 id="infoModalLabel">@group.title</h3>
</div>
<div class="modal-body">
    <dl>
		<dt>Gruppengründer</dt>
		<dd>@group.owner.firstname @group.owner.lastname</dd>
	</dl>
	<dl>
		<dt>Erstellt am</dt>
		<dd>@group.createdAt.format("dd. MMM yyyy")</dd>
	</dl>
	<dl>
		<dt>Beschreibung</dt>
		<dd>@group.description</dd>
	</dl>
	<dl>
		<dt>Mitglieder</dt>
		<dd>
			<table class="table table-hover table-condensed">
				<tbody>
					@defining(GroupAccount.findAccountsByGroup(group)) { accounts =>
			             @for(account <- accounts) {              
                            <tr>
                                <td><a data-placement="top" data-original-title="@account.name" data-content="Rolle: Student &lt;br /&gt; Studiengang: Angewandte Informatik" data-delay="500" data-trigger="hover" data-html="true" rel="popover" href="@routes.ProfileController.view(account.id)">@account.name</a></td>
                            </tr>
                         }
              		}
				</tbody>
			</table>
		</dd>
	</dl>
</div>
<div class="modal-footer">
    <button aria-hidden="true" data-dismiss="modal" class="btn">Schlie&szlig;en</button>
</div>