@(groups: List[Group], user: Account)
@import models.enums.GroupType

<table class="table table-hover">
	<colgroup>
		<col width="55%">
		<col width="30%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
			<th>Gruppenname</th>
			<th>Erstellt von</th>
			<th>Optionen</th>
		</tr>
	</thead>
	<tbody>
		@for(group <- groups) {
		<tr>
			<td>
			@if(group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
			@if(group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
				
			<a href="@routes.GroupController.view(group.id)">
				@if(Secured.isOwnerOfGroup(group, user)) {
					<b> @group.title</b>
				} else { @group.title } 
			</a>
			</td>
			<td>
				@views.html.snippets.userLink(group.owner)
			</td>
			<td>
				<a href="#infoModal@group.id" rel="tooltip" data-toggle="modal" data-original-title="Gruppeninfo" data-container="body">
					<i class="glyphicon glyphicon-info-sign"></i>
				</a>
				@if(Secured.isOwnerOfGroup(group, user)) {
					<a href="@routes.GroupController.edit(group.id)" rel="tooltip" data-toggle="modal" data-original-title="Gruppe bearbeiten" data-container="body"><i class="glyphicon glyphicon-pencil"></i></a>
					<a href="#confirmDeleteGroup@group.id" rel="tooltip" data-toggle="modal" data-original-title="Gruppe löschen" data-container="body"><i class="glyphicon glyphicon-trash"></i></a>
				} 
				@if(Secured.isMemberOfGroup(group, Component.currentAccount)) {
					<a href="@routes.GroupController.removeMember(group.id, user.id)" rel="tooltip" data-toggle="modal" data-original-title="Gruppe verlassen" data-container="body">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				} else {
					<a href="@routes.GroupController.join(group.id)" rel="tooltip" data-original-title="Beitreten" data-container="body">
						<span class="glyphicon glyphicon-ok"></span>
					</a>
				  }
			</td>
		</tr>
		}
	</tbody>
</table>