 @(groups: List[Group])
<table class="table table-hover" id="searchGroupResults">
	<colgroup>
		<col width="45%">
		<col width="40%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
			<th>Gruppenname</th>
			<th>Erstellt von</th>
			<th>Optionen</th>
		</tr>
	</thead>
	<tbody>

		<!-- Fuer Fabi: Ajax-Abfrage um alle Gruppen zu holen. -->
		@if(groups != null){ @for(group <- groups) {
		<tr>
			<td>@if(group.isClosed == true) { 
					<i class="icon-lock"></i> 
				} else { 
					<i class="icon-globe"></i> 
				}
				<a href="@routes.GroupController.view(group.id)" rel="popover"
				data-trigger="hover" data-content="@group.description"
				data-original-title="Beschreibung"> @group.title</a>
			</td>
			<td>
				@views.html.snippets.userLink(group.owner)
			</td>
			<td><a href="@routes.GroupController.join(group.id)"

				rel="tooltip" title="Beitreten" class="ajaxModalLink"><i class="icon-ok"></i></a></td>
		</tr>
		} }


	</tbody>
</table>
