<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="searchModalLabel">Gruppe suchen [not yet implemented]</h3>
</div>
<div class="modal-body">
    <br />
    <form class="form-search">
        <div class="input-append">
            <input type="text" class="search-query" placeholder="Gruppenname eingeben...">
            <button type="button" class="btn btn-warning">Suchen</button>
        </div>
    </form>
    <br />
    <table class="table table-hover">
        <colgroup>
            <col width="40%">
            <col width="30%">
            <col width="30%">
        </colgroup>
        <thead>
            <tr>
                <th>Gruppenname</th>
                <th>Erstellt von</th>
                <th>Verf&uuml;gbare Optionen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="icon-globe"></i><a href="#" rel="popover" data-trigger="hover" data-content="Hier kommt die Beschreibung der Gruppe hinein, die der Gruppengründer bei den Informationen eingetragen hat." data-original-title="Beschreibung"> AI Master 12/13</a></td>
                <td><a href="#" rel="popover" data-html="true" data-trigger="hover" data-content="Rolle: Student <br /> Angewandte Informatik (Master)" data-original-title="Anne Hasenpusch" data-placement="top">Anne Hasenpusch</a></td>
                <td><a href="#" rel="tooltip" title="Beitreten"><i class="icon-ok"></i></a></td>
            </tr>
            <tr>
                <td><i class="icon-globe"></i><a href="#" rel="popover" data-trigger="hover" data-content="Hier kommt die Beschreibung der Gruppe hinein, die der Gruppengründer bei den Informationen eingetragen hat." data-original-title="Beschreibung"> Forschungsprojekte Sieck</a></td>
                <td><a href="#" rel="popover" data-html="true" data-trigger="hover" data-content="<div class=&quot;own-popover&quot;>Rolle: Student <br /> Studiengang (Master)</div>" data-original-title="Stephan Bergemann" data-placement="top">Stephan Bergemann</a></td>
                <td><a href="#" rel="tooltip" title="Beitreten"><i class="icon-ok"></i></a></td>
            </tr>
            <tr>
                <td><i class="icon-lock"></i><a href="#" rel="popover" data-trigger="hover" data-content="Hier kommt die Beschreibung der Gruppe hinein, die der Gruppengründer bei den Informationen eingetragen hat." data-original-title="Beschreibung"> Lerngruppe DiskMath</a></td>
                <td><a href="#" rel="popover" data-html="true" data-trigger="hover" data-content="Rolle: Student <br /> Angewandte Informatik (Master)" data-original-title="Daniel Pinkpank" data-placement="top">Daniel Pinkpank</a></td>
                <td><a href="#" rel="tooltip" title="Anfrage senden"><i class="icon-envelope"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Schlie&szlig;en</button>
</div>