 @(groups: List[Group])
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="searchModalLabel">Gruppe suchen</h3>
</div>
<div class="modal-body">
    <br />
    <form class="form-search">
        <div class="input-append">
            <input type="text" class="search-query" placeholder="Gruppenname eingeben..." id="groupSearchQuery">
            <button type="button" class="btn btn-warning" id="groupSearchSubmit">Suchen</button>
        </div>
    </form>
    <br />
     @views.html.Group.snippets.searchModalResult(groups)
</div>
<div class="modal-footer">
    <div class="loading"></div>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
</div>