@(user: Account)


    
    <h2>Account successfully created:</h2>
    
    <h6>Firstname</h6>
    
    <p>
        @user.firstname
    </p>
    
    <h6>Lastname</h6>
    
    <p>
        @user.lastname
    </p>
    
    
    <h6>Username</h6>
    
    <p>
        @user.loginname
    </p>
    
    <h6>Email</h6>
    
    <p>
        @user.email
    </p>
    
    <h6>Password</h6>
    
    <p>
        @user.password
    </p>
    
    <a href="@routes.Application.index" class="btn">Login</a>
    
    
