</div>
    </div>

    <footer>
        <div class="container">
            <div class="span9">
                <div id="htw">
                    <a href="#">Impressum</a>
                </div>
            </div>
        </div>
    </footer>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.0.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/application.js")"></script>

</body>
</html>