@(postId: Long)
<div id="confirmModalDeletePost@postId" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="confirmModalLabel">Post l&ouml;schen</h3>
	</div>
	<div class="modal-body">
		M&ouml;chtest du diesen Post wirklich l&ouml;schen?<br />
		Alle dazugeh&ouml;rigen Kommentare werden ebenfalls gel&ouml;scht!
	</div>
	<div class="modal-footer">
		<a href="@routes.PostController.deletePost(postId)" class="btn btn-warning">Ja</a>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Nein</button>
	</div>
</div>