@(loginForm: Form[Login], signupForm: Form[Account])

<!-- editModal -->
<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
@views.html.snippets.signup(signupForm)
</div>
<!-- Ende editModal -->

<div class="span3">
	<div class="navi" data-spy="affix" data-offset-bottom="83">
		<div class="postit">
			<div class="postitHeader active"></div>
			<div class="postitBody active">
				@helper.form(routes.AccountController.authenticate, 'id -> "loginForm") {
				@if(flash.contains("success")) {
				<p class="success">@flash.get("success")</p>
				} <b>Email</b><br /> <input type="email" name="email"
					placeholder="Email" value="@loginForm("email").value"> <b>Passwort</b><br />
				<input type="password" name="password" placeholder="Passwort">
				<button type="submit" class="btn btn-warning">Anmelden</button>
				}
				<div class="register">
					<a href="#registerModal" data-toggle="modal"><i
						class="icon-plus-sign icon-white"></i><small> Registrieren</small></a>
				</div>
			</div>
			<div class="postitFooter active"></div>
		</div>
	</div>
</div>