@(loginForm: Form[Login])

<div class="hp-logo">
	<img src="@routes.Assets.at("images/logos/logo.svg")" />
	<img style="right: -80px;position: absolute;width: 173px;top: 40px;"src="@routes.Assets.at("images/plusi.png")">
</div>

<h2>Anmelden</h2>
	
@helper.form(routes.AccountController.authenticate) {
	<div class="form-group">
		<input type="text" class="form-control input-lg" id="loginUser" name="email" placeholder="Matrikelnummer (z.B.: s0123456)" value="@loginForm("email").value">
	</div>
	<div class="form-group">
		<input type="password" class="form-control input-lg" id="loginPassword" name="password" placeholder="Passwort des FB4">
	</div>
	<button type="submit" class="btn btn-warning btn-lg pull-right">Anmelden</button>
}