<div class="span3">
	<div class="navi" data-spy="affix" data-offset-top="65"
		data-offset-bottom="83">
		<div class="postit">
			<div class="postitHeader deactive"></div>
			<div class="postitBody deactive">
				<a href="profil.html">Profil</a><br /> <img alt="avatar"
					src="../img/avatar.png" height="50" width="50" class="img-polaroid" /><br />
				<a href="profil.html">Max Mustermann</a><br /> <br /> <small><a
					href="@routes.AccountController.logout">logout </a></small><i
					class="icon-remove-sign icon-white"></i>
			</div>
			<div class="postitFooter deactive"></div>
		</div>
		<div class="postit">
			<div class="postitHeader active"></div>
			<div class="postitBody active">
				<a href="newsstream.html">Newsstream</a>
			</div>
			<div class="postitFooter active"></div>
		</div>
		<div class="postit">
			<div class="postitHeader deactive"></div>
			<div class="postitBody deactive">
				<a href="freunde.html">Freunde</a>
			</div>
			<div class="postitFooter deactive"></div>
		</div>
		<div class="postit">
			<div class="postitHeader deactive"></div>
			<div class="postitBody deactive">
				<a href="gruppen.html">Gruppen</a><br />
			</div>
			<div class="postitFooter deactive"></div>
		</div>
		<div class="postit">
			<div class="postitHeader deactive"></div>
			<div class="postitBody deactive">
				<a href="kurse.html">Kurse</a><br />
			</div>
			<div class="postitFooter deactive"></div>
		</div>
	</div>
</div>