@(title: String)
<div class="span3">
	<div class="navi" data-spy="affix" data-offset-top="65"
		data-offset-bottom="83">
		<div class="postit">
		@defining(if(Navigation.getLevel() == Navigation.Level.PROFILE){"active"} else {"deactive"}) { status =>
			<div class="postitHeader @status"></div>
			<div class="postitBody @status">
				<a href="@Navigation.getLevelRoute(Navigation.Level.PROFILE)">@Navigation.getLevelTitle(Navigation.Level.PROFILE)</a><br /> <img alt="avatar"
					src="@routes.Assets.at("images/avatar.png")" height="50" width="50" class="img-polaroid" /><br />
				<a href="@Navigation.getLevelRoute(Navigation.Level.PROFILE)">@Component.currentAccount().firstname @Component.currentAccount().lastname</a><br /> <br /> <small><a
					href="@routes.AccountController.logout">logout </a></small><i
					class="icon-remove-sign icon-white"></i>
			</div>
			<div class="postitFooter @status"></div>
		}
		</div>
		
		<div class="postit">
		@defining(if(Navigation.getLevel() == Navigation.Level.STREAM){"active"} else {"deactive"}) { status =>
			<div class="postitHeader @status"></div>
			<div class="postitBody @status">
				<a href="@Navigation.getLevelRoute(Navigation.Level.STREAM)">@Navigation.getLevelTitle(Navigation.Level.STREAM)</a>
			</div>
			<div class="postitFooter @status"></div>
		}
		</div>
		
		<div class="postit">
		@defining(if(Navigation.getLevel() == Navigation.Level.FRIENDS){"active"} else {"deactive"}) { status =>
			<div class="postitHeader @status"></div>
			<div class="postitBody @status">
				<a href="@Navigation.getLevelRoute(Navigation.Level.FRIENDS)">@Navigation.getLevelTitle(Navigation.Level.FRIENDS)</a>
			</div>
			<div class="postitFooter @status"></div>
		}	
		</div>
		
		<div class="postit">
		@defining(if(Navigation.getLevel() == Navigation.Level.GROUPS){"active"} else {"deactive"}) { status =>
			<div class="postitHeader @status"></div>
			<div class="postitBody @status">
				<a href="@Navigation.getLevelRoute(Navigation.Level.GROUPS)">@Navigation.getLevelTitle(Navigation.Level.GROUPS)</a><br />
			</div>
			<div class="postitFooter @status"></div>
		}
		</div>
		
		<div class="postit">
		@defining(if(Navigation.getLevel() == Navigation.Level.COURSES){"active"} else {"deactive"}) { status =>
			<div class="postitHeader @status"></div>
			<div class="postitBody @status">
				<a href="@Navigation.getLevelRoute(Navigation.Level.COURSES)">@Navigation.getLevelTitle(Navigation.Level.COURSES)</a><br />
			</div>
			<div class="postitFooter @status"></div>
		}
		</div>
	</div>
</div>