@(post: Post, postForm: Form[Post], currentView: String)
@import helper._

@defining(Component.currentAccount()) { user =>
	<br />
	@views.html.snippets.deletePostModal(post.id)

	<div class="well">
		<div class="media">
			@views.html.snippets.userLinkAvatar(post.owner)
			<div class="media-body">
				<h4 class="media-heading">
					@views.html.snippets.userLink(post.owner)
					@if(post.belongsToGroup && currentView != "group"){schrieb in <a href="@routes.GroupController.view(post.group.id)">@post.group.title</a>}
					@if(post.belongsToCourse && currentView != "course"){schrieb in <a href="@routes.CourseController.view(post.course.id)">@post.course.title</a>}
					@if(post.belongsToAccount && user != post.account && post.account != post.owner){&rarr; <a href="@routes.ProfileController.view(post.account.id)">@post.account.name</a>} 
					@if(post.owner.id == user.id){
                		<a href="#confirmModalDeletePost@post.id" data-toggle="modal" rel="tooltip" data-original-title="Post löschen"><i class="icon-trash"></i></a>
                	}
				</h4>
				<small>@post.createdAt.format("dd. MMM yyyy HH:mm")</small>
			</div>
		</div>
		<br />
		<div id="@post.id">@post.content</div>
		<hr />
		<div class="comment" id="comments-@post.id">

			@if(post.getCountComments() > 2) {
				<a href="#collapse-@post.id" class="olderComments unloaded">Alle Kommentare anzeigen...</a>
				<div id="collapse-@post.id" class="collapse"></div>
			}
			@defining(PostController.getCommentsForPostInGroup(post.id)) { comments => 
	 			@for(comment <- comments){
	 				@views.html.snippets.postComment(comment)
	 			}
	 		}
			@form(routes.PostController.addComment(post.id), 'class -> "addComment") {
				@textarea(postForm("Content"), '_label -> "", 'id -> "commentContent", 'placeholder -> "Schreibe ein Kommentar...")
				<button class="btn btn-small btn-warning commentSubmit" type="submit">Kommentieren</button>
			}
		</div>
		<div class="clear"></div>
	</div>
}

