@(comment: Post)
<div class="media">
	<a class="pull-left" href="@routes.ProfileController.view(comment.owner.id)"> <img alt="avatar" src="@routes.Assets.at("images/avatar.png")" class="img-polaroid dreizig" /></a>
	<div class="media-body">
		<h5 class="media-heading">
				<a href="@routes.ProfileController.view(comment.owner.id)" data-placement="top" data-original-title="@comment.owner.name" data-content="Rolle: Student &lt;br /&gt; Studiengang: Angewandte Informatik" data-delay="500" data-trigger="hover" data-html="true" rel="popover">@comment.owner.name</a>
				<small>(@comment.createdAt.format("dd. MMM yyyy hh:mm"))</small>
		</h5>
			<b>@comment.content</b>
	</div>
</div>