@(bodyID: String)(content: Html)

<!DOCTYPE html>
<html lang="de">
  <head>
    <title>HTW.plus()</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">
	<!-- Own -->
	<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/background.css")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>

<body id="@bodyID">

    <header>
        <div class="container">
            <div class="span9">
                <div id="logo"></div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span9">
                <div id="right">
                    <div id="topRight"></div>
                    <div id="bottomRight"></div>
                    <div id="left">
                        <div id="topLeft"></div>
                        <div id="bottomLeft"></div>
                        <!-- Content -->
                        <div id="top">
                            <div id="bottom">
                                <div id="content">
							    	@if(flash.containsKey("message")) {
							        	<div class="alert-message warning">
							            	@flash.get("message")
							        	</div>
							    	}
							        @content
                                </div>
                            </div>
                        </div>
                        <!-- Ende Content -->
                    </div>
                </div>
            </div>