@(friends: List[Account], requests: List[Friendship])
@import helper._
@main("Freunde") {


<!-- confirmDeleteFriendModal -->
@for(friend <- friends){
<div class="modal fade" id="confirmDeleteFriend@friend.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
	@views.html.Friends.snippets.deleteFriendModal(friend)
</div>
}
<!-- Ende confirmDeleteFriendModal -->

<h2><span rel="tooltip" data-original-title="Hier findest du den aktuellen Status deiner Freundschafts-Anfragen." data-delay="500">
	Offene Anfragen</span></h2>
@if(!requests.isEmpty) {
<table class="table table-hover">
	<colgroup>
		<col width="30%">
		<col width="30%">
		<col width="25%">
		<col width="15%">
	</colgroup>
	<thead>
		<tr>
			<th>Von</th>
			<th>An</th>
			<th>Status</th>
			<th>Optionen</th>
		</tr>
	</thead>
	<tbody>
	@for(request <- requests){
		<tr>
		@if(request.account.equals(Component.currentAccount())){
			<td>
				<a href="@routes.ProfileController.view(request.account.id)">Mir</a>
			</td>
			<td>
				@views.html.snippets.userLink(request.friend)
			</td>
			<td>
				@if(request.linkType.equals(models.enums.LinkType.reject)){ abgelehnt } 
				@if(request.linkType.equals(models.enums.LinkType.request)){ in Bearbeitung } 
			</td>
			<td>
				<a href="@routes.FriendshipController.cancelFriendRequest(request.id)" data-toggle="modal" rel="tooltip" title="Anfrage zurückziehen">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</td>
		} else {
			<td>
				@views.html.snippets.userLink(request.account)
			</td>
			<td>
				<a href="@routes.ProfileController.view(request.friend.id)">Mich</a>
			</td>
			<td>
				zu bearbeiten
			</td>
			<td>
				<a href="@routes.FriendshipController.acceptFriendRequest(request.account.id)" rel="tooltip" title="Anfrage akzeptieren">
					<span class="glyphicon glyphicon-ok"></span>
				</a> 
				<a href="@routes.FriendshipController.declineFriendRequest(request.id)" data-toggle="modal" rel="tooltip" title="Anfrage ablehnen">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</td>
		}
		</tr>
	}
	</tbody>
</table>
} else {
<p><i>Keine Anfragen vorhanden.</i></p>
}
<hr />
<br />

<h2>
	<span rel="tooltip" data-original-title="Hier findest du alle Personen, mit denen du befreundet bist." data-delay="500">Meine Freunde</span>
</h2>

@if(!friends.isEmpty()) {
<table class="table table-hover">
	<colgroup>
		<col width="25%">
		<col width="50%">
		<col width="25%">
	</colgroup>
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Name</th>
			<th>Optionen</th>
		</tr>
	</thead>
	<tbody>
	@for(friend <- friends){
		<tr>
			<td>@views.html.snippets.userLinkAvatar(friend)</td>
			<td>@views.html.snippets.userLink(friend)</td>
			<td><a href="#confirmDeleteFriend@friend.id" data-toggle="modal" rel="tooltip" title="Freundschaft beenden"><i class="glyphicon glyphicon-trash"></i></a></td>
		</tr>
	}
	</tbody>
</table>
} else {
<p><i>Noch keine befreundeten Personen vorhanden.</i></p>
}

}
