@(courses: List[Course])

@import helper._

@main("Kurse") {
    <h1>Kurse (@courses.size())</h1>
    <a href="#searchModal" role="button" class="btn" data-toggle="modal" rel="tooltip" data-original-title="Kurse suchen"><i class="icon-search"></i></a>
                  <br />
    <!-- searchModal -->
	<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">@views.html.Course.snippets.searchModal(null)</div>
	<!-- Ende searchModal -->
   
    <a class="btn btn-primary" href="@routes.CourseController.add">Add</a>
    
    <table class="table">
         @for(course <- courses) {
    	<tr>
    	<td>@course.title                    
    	<td><a href="@routes.CourseController.view(course.id)" class="btn">View</a> </td>
    	<td><a href="@routes.CourseController.edit(course.id)" class="btn">Edit</a> </td>
    	<td><a href="@routes.CourseController.delete(course.id)" class="btn">Delete</a> </td>
    	</tr>
    }
    </table>
    
    
}