@(course: Course, postForm:  Form[Post], posts : List[Post])

@import helper._

@main("Course View") {
    
    <h2>@course.title</h2>
    
    Description:<br />
    @course.description
    <br />
    Token:<br />
    @course.token
    <br />
    Created At:<br />
    @course.createdAt.format("dd. MMM yyyy")
    <br />
    Updated At:<br />
    @course.updatedAt.format("dd. MMM yyyy")
    <br />
   
   @form(routes.CourseController.addPost(course.id)) {
     	@textarea(postForm("Content"), '_label -> "Content: ") 	
        <input type="submit" value="Add Post to Course" class="btn btn-success">    
    }
    
    @if(posts != null){
    	<h2>Posts</h2>
    	<table class="table">
    	@for(post <- posts){
    	
    	<tr>
    	<td>@post.content
    	<td><a href="" class="btn">View</a> </td>
    	<td><a href="" class="btn">Edit</a> </td>
    	<td><a href="@routes.PostController.deletePost(post.id, course.id)" class="btn" >Delete</a> </td>
    	</tr>
    	}
    	</table>
    }
  
  
}