#loading {
	background-image: url(../images/loading.gif);
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
	background-size: 100%;
	display: none;
}

#loadingMedia {
	position: absolute;
	background-image: url(../images/loading.gif);
	width: 16px;
	height: 16px;
	margin-left: 8px;
	background-size: 100%;
	display: none;
}

#loading-active {
	background-image: url(../images/loading.gif);
	width: 16px;
	height: 16px;
	background-size: 100%;
}

#fileupload-status {
	display: none;
}
