

/*============================== General ==============================*/

body {
	margin-top: 70px;
}

a {
	outline: none!important;
}

hr {
	border-bottom: 1px solid #ffffff
}

table {
	table-layout: fixed;
	margin-bottom: 0px;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
}

textarea {
  	resize: none;
}

button > .glyphicon,
a > .glyphicon {
	color: rgb(90,88,88);
}

button > .glyphicon:hover,
a > .glyphicon:hover {
	color: #76B900;
}

.hp-dropdown-news {
	width: 500px;
	left: -150px;
}

.hp-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}


/*============================== Navigation ==============================*/

.hp-navbar .hp-search-form input {
	padding-right: 20px;
	background-color: #E0F2BF;
}

.hp-navbar .hp-search-form button {
	background: transparent;
	border: 0;
	margin-left: -28px;
}


/*============================== Logo ==============================*/

.hp-logo {
	width: 100%;
	text-align: center;
}

.hp-logo img {
	width: 90%;
	margin: 50px 0 70px;
}

.hp-navbar .hp-logo img {
	width: 125px;
	margin: 15px 15px 0 10px;
}

div#hp-htw-logo {
	height: 46px;
	margin: 5px 29px 0 55px;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: right -130px;
}


/*============================== Notepad ==============================*/

div#hp-right  {
	position: relative;
	background-image: url(../images/vertical.png);
	background-repeat: repeat-y;
	background-position: right 0px;
	margin: 0 -10px;
}

div#hp-topRight {
	width: 48px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -50px -15px;
}

div#hp-bottomRight {
	width: 48px;
	height: 22px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -50px -30px;
}

div#hp-left  {
	margin-right: 24px;
	background-image: url(../images/repeatY.png);
	background-repeat: repeat-y;
	background-position: 0px 15px;
}

div#hp-topLeft {
	width: 50px;
	height: 15px;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: 0px -15px;
}

div#hp-bottomLeft {
	width: 50px;
	height: 22px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: 0px -30px;
}

div#hp-top {
	margin-left: 50px;
	padding-top: 15px;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px top;
}

div#hp-bottom {
	padding-bottom: 22px;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}

div#hp-content  {
	min-height: 500px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	background-color: white;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}


/*============================== no Modal ==============================*/

.noModal {
	padding-left: 10%;
	padding-right: 10%;
}

.noModal label {
	font-weight: bold;
}

.noModal input, select, textarea {
	width: 100%;
}

.noModal input[type="text"]:not(.search-query),
.noModal input[type="password"] {
	height: auto !important;
	line-height: 16px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box
}

.noModal input[type="radio"] {
	width: auto;
	margin-top: 2px;
}

.noModal dd i {
	margin-top: 0px;
}

.noModal dd input {
	margin-top: -5px;
}

.noModal dd button {
	margin-top: -5px;
}

.noModal dl {
	height: 20px;
}

.noModal dl dd:last-child {
	padding-bottom: 8px;
}

.noModal dt {
   float:left;
   clear: both;
   width: 30%;
}

.noModal dd {
   float: right;
   width: 68%;
   margin-bottom: 8px;
}

.noModal dd.error {
	text-shadow: 1px 1px 1px rgba(185, 74, 72, 0.5);
	color: #b94a48;
}

.noModal dd.info {
	display: none;
}


/*============================== Pagination ==============================*/

div.hp-pagination {
	text-align: center;
}

.hp-pagination > ul {
	margin-bottom: 0px;
}

.hp-pagination a.active {
	background: #76b900;
	color: white;	
}


/*============================== Post & Comment View ==============================*/

.hp-horizontal-form {
	padding: 0;
}

.hp-horizontal-form .input-group-btn {
	padding-left: 10px;
}

.hp-horizontal-form textarea,
.hp-horizontal-form button {
	border-radius: 4px!important;
}

#hp-new-comment-content,
#hp-new-post-content {
	height: 31px;
    transition: height 0.5s ease 0.2s;
	-webkit-transition: height 0.5s ease 0.2s;
	-moz-transition: height 0.5s ease 0.2s;
	-ms-transition: height 0.5s ease 0.2s;
	-o-transition: height 0.5s ease 0.2s;
}

#hp-new-comment-content:focus,
#hp-new-post-content:focus {
	height: 104px;
}

.hp-comments {
	margin-left: 50px;
}

.hp-comment-form {
	margin-top: 15px;
}

.hp-post-form label,
.hp-comment-form label {
	display: none;
}

.hp-post-form dl, dd,
.hp-comment-form dl, dd {
	margin: 0;
}

.media-heading .popover  {
	font-size: 11px;
    font-weight: normal;
    line-height: 16px;
}

.well {
	padding: 15px;
	margin-bottom: 0px;
}

.media small {
	color: #999999;
}


/*============================== Avatare ==============================*/

#hp-avatars img {
	margin-bottom: 8px;
	margin-right: 8px;
	width: 64px;
}

#hp-avatars img:hover {
	border-color: #5a5858;
}

#hp-avatars img.active {
  border-color: rgba(255, 95, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
}

.hp-avatar {
	width: 120px;
	height: 120px;
}

.hp-navbar .hp-avatar {
	height: 46px;
	width: auto;
	margin-top: 2px;
	margin-right: 5px;
}

dl .hp-avatar {
	width: 80px;
	height: 80px;
}

.media .hp-avatar,
table .hp-avatar {
	width: 25px;
	height: 25px;
}