body {
	position: relative;
}

img {
  vertical-align: top;
}

hr {
	border-bottom: 1px solid #ffffff
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}

table {
	table-layout: fixed;
}

td {
	overflow: hidden;
	text-overflow: ellipsis;
}

.miniMenue {
	padding-top: 0px;
}

.clear {
	clear: both;
}

.navbar .logo {
	width: 125px;
	margin: 15px 15px 0 10px;
}

.logo {
	text-align: center;
}

.logo img {
	width: 90%;
	margin: 50px 0 70px;
}

#htw {
	height: 46px;
	margin-left: 65px;
	margin-right: 39px;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: right -130px;
}


#htw img {
  text-align: right;
}

#right  {
	position: relative;
	background-image: url(../images/vertical.png);
	background-repeat: repeat-y;
	background-position: right 0px;
}

#topRight {
	width: 48px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -50px -15px;
}

#bottomRight {
	width: 48px;
	height: 22px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -50px -30px;
}

#left  {
	margin-right: 24px;
	background-image: url(../images/repeatY.png);
	background-repeat: repeat-y;
	background-position: 0px 15px;
}

#topLeft {
	width: 50px;
	height: 15px;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: 0px -15px;
}

#bottomLeft {
	width: 50px;
	height: 22px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: 0px -30px;
}

#top {
	margin-left: 50px;
	padding-top: 15px;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px top;
}

#bottom {
	padding-bottom: 22px;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}

div #content  {
	min-height: 500px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	background-color: white;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.media-heading .popover  {
	font-size: 11px;
    font-weight: normal;
    line-height: 16px;
}

.well {
	padding: 15px;
	margin-bottom: 0px;
}

.media small {
	color: #999999;
}

.navi {
	position: absolute;
	width: 197px;
}

.navi.affix-top {
	margin: 15px 0;
	top: 65px;
}

.navi.affix {
	position: fixed;
	margin: 0;
	top: 15px;
}

.navi.affix-bottom {
	margin: 15px 0;
	bottom: 68px;
}

.postit {
	position: relative;
	text-align: right;
	padding: 0;
	margin-bottom: 10px;
	color: white;
}

.postitHeader {
	width: 197px;
	height: 11px;
	background-repeat: no-repeat;
	background-image: url(../images/background.png);
}

.postitHeader.active {
	background-position: 0px -52px;
}

.postitHeader.deactive {
	background-position: 0px -91px;
}

.postitBody {
	padding-top: 7px;
	background-repeat: repeat-y;
	background-image: url(../images/repeatY.png);
}

.postitBody img {
	margin: 5px 0;
	width: 50%;
}

.postitBody form {
	margin-bottom: 0;
}

.postitBody.active {
	padding-right: 34px;
	padding-left: 15px;
	background-position: -50px 0px;
}

.postitBody.deactive {
	padding-right: 23px;
	padding-left: 47px;
	background-position: -247px 0px;
}

.postitFooter {
	width: 197px;
	height: 28px;
	background-repeat: no-repeat;
	background-image: url(../images/background.png);
}

.postitFooter.active {
	background-position: 0px -63px;
}

.postitFooter.deactive {
	background-position: 0px -102px;
}

.postitBody.deactive a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.postitBody.active a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.postitBodyFavs.active a {
    font-size: x-small;
    font-weight: normal;
}

.postitBodyFavs.deactive a {
    color: white;
    font-size: x-small;
    font-weight: normal;
}

.postit a:hover, .postit a:active {
	color: #5a5858;
}

.table {
	margin-bottom: 0px;
}

.table th, .table td {
	border-top: 0;
	vertical-align: middle;
}

#register input, select {
	height: auto !important;
}

#register input, select, textarea {
	width: 100%;
	line-height: 16px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

textarea {
  	resize: vertical;
}

.collapse {
	position: static;
}

.modal-body .btn-group {
	margin-left: 0;
	margin-bottom: 5px;
}

.btn-group {
	position: absolute;
	margin-left: 10px;
}

.noModal {
	padding-left: 10%;
	padding-right: 10%;
}

.noModal label {
	font-weight: bold;
}

.noModal input, select, textarea {
	width: 100%;
}

.noModal input[type="text"]:not(.search-query),
.noModal input[type="password"] {
	height: auto !important;
	line-height: 16px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box
}

.noModal input[type="radio"] {
	width: auto;
	margin-top: 2px;
}

.noModal dd i {
	margin-top: 0px;
}

.noModal dd input {
	margin-top: -5px;
}

.noModal dd button {
	margin-top: -5px;
}

.noModal dl {
	height: 20px;
}

.noModal dl dd:last-child {
	padding-bottom: 8px;
}

.noModal dt {
   float:left;
   clear: both;
   width: 30%;
}

.noModal dd {
   float: right;
   width: 68%;
   margin-bottom: 8px;
}

.noModal dd.error {
	text-shadow: 1px 1px 1px rgba(185, 74, 72, 0.5);
	color: #b94a48;
}

.noModal dd.info {
	display: none;
}

.comment {
	margin-left: 50px;
}

.hp-comment-form textarea {
	margin-bottom: 0px;
}

.collapse .media:first-child {
      margin-top: 15px;
}

.hp-post-form label,
.hp-comment-form label {
	display: none;
}

.hp-post-form dl, dd,
.hp-comment-form dl, dd {
	margin: 0;
}

#avatars .img-thumbnail {
	margin-bottom: 8px;
	margin-right: 8px;
	width: 30%;
}

#avatars .img-thumbnail:hover {
	border-color: #5a5858;
}

#avatars .img-thumbnail.active {
  border-color: rgba(255, 95, 0, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 95, 0, .6);
}

#commentContent{
	height: 31px;
    transition: height 0.5s ease 0.2s;
	-webkit-transition: height 0.5s ease 0.2s;
	-moz-transition: height 0.5s ease 0.2s;
	-ms-transition: height 0.5s ease 0.2s;
	-o-transition: height 0.5s ease 0.2s;
}

#commentContent:focus
{
	height: 104px;
}

#postContent{
	height: 31px;
    transition: height 0.5s ease 0.2s;
	-webkit-transition: height 0.5s ease 0.2s;
	-moz-transition: height 0.5s ease 0.2s;
	-ms-transition: height 0.5s ease 0.2s;
	-o-transition: height 0.5s ease 0.2s;
}

#postContent:focus
{
	height: 104px;
}

.img-polaroid {
	width: 120px;
	height: 120px;
}

dl .img-polaroid {
	width: 80px;
	height: 80px;
}

.postit .img-polaroid {
	width: 50px;
	height: 50px;
}

.media .img-polaroid,
table .img-polaroid {
	width: 25px;
	height: 25px;
}

.dropdown-news {
	width: 500px;
	left: -150px;
}

.centered {
	text-align: center;
}
.pagination a.active {
	background: #76b900;
	color: white;	
}

.hp-horizontal-form {
	padding: 0;
}

.hp-horizontal-form .input-group-btn {
	padding-left: 10px;
}

.hp-horizontal-form textarea,
.hp-horizontal-form button {
	border-radius: 4px!important;
}