body {
	position: relative;
}

img {
  vertical-align: top;
}

form {
	margin: 0px;
}

#logo {
	height: 89px;
	position: relative;
	margin-bottom: -38px;
	margin-left: 45px;
	margin-right: 15px;
	margin-top: 30px;
	z-index: 1000;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center top;
}

body#smallHead #logo {
	height: 37px;
	margin-bottom: -18px;
	background-image: url(../images/logoSmall.png);
	background-position: right top;
}

#htw {
	height: 46px;
	margin-left: 45px;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: right -130px;
}


#htw img {
  text-align: right;
}

#right  {
	position: relative;
	margin-right: -217px;
	background-image: url(../images/repeatY.png);
	background-repeat: repeat-y;
	background-position: right 0px;
}

#topRight {
	width: 197px;
	height: 15px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -50px -15px;
}

#bottomRight {
	width: 197px;
	height: 22px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -50px -30px;
}

#left  {
	margin-right: 197px;
	background-image: url(../images/repeatY.png);
	background-repeat: repeat-y;
	background-position: 0px 15px;
}

#topLeft {
	width: 50px;
	height: 15px;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: 0px -15px;
}

#bottomLeft {
	width: 50px;
	height: 22px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: 0px -30px;
}

#top {
	margin-left: 50px;
	padding-top: 15px;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px top;
}

#bottom {
	padding-bottom: 22px;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 0px bottom;
}

#content  {
	min-height: 300px;
	padding-left: 30px;
	padding-right: 15px;
	padding-top: 52px;
	background-color: white;
}

body#smallHead #content {
	min-height: 500px;
	padding-top: 0px;
}

.media-heading .popover  {
	font-size: 11px;
    font-weight: normal;
    line-height: 16px;
}

.navi {
	position: absolute;
	width: 197px;
}

.navi.affix-top {
	margin: 15px 0;
	top: 65px;
}

.navi.affix {
	position: fixed;
	margin: 0;
	top: 15px;
}

.navi.affix-bottom {
	margin: 15px 0;
	bottom: 68px;
}

.postit {
	position: relative;
	text-align: right;
	padding: 0;
	margin-bottom: 10px;
	color: white;
}

.postitHeader {
	width: 197px;
	height: 11px;
	background-repeat: no-repeat;
	background-image: url(../images/background.png);
}

.postitHeader.active {
	background-position: 0px -52px;
}

.postitHeader.deactive {
	background-position: 0px -91px;
}

.postitBody {
	padding-top: 7px;
	background-repeat: repeat-y;
	background-image: url(../images/repeatY.png);
}

.postitBody img {
	margin: 5px 0;
}

.postitBody form {
	margin-bottom: 0;
}

.postitBody.active {
	padding-right: 34px;
	padding-left: 15px;
	background-position: -50px 0px;
}

.postitBody.deactive {
	padding-right: 23px;
	padding-left: 47px;
	background-position: -247px 0px;
}

.postitFooter {
	width: 197px;
	height: 28px;
	background-repeat: no-repeat;
	background-image: url(../images/background.png);
}

.postitFooter.active {
	background-position: 0px -63px;
}

.postitFooter.deactive {
	background-position: 0px -102px;
}

.postitBody.deactive a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.postitBody.active a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.postitBodyFavs.active a {
    font-size: x-small;
    font-weight: normal;
}

.postitBodyFavs.deactive a {
    color: white;
    font-size: x-small;
    font-weight: normal;
}

.postit a:hover, .postit a:active {
	color: #5a5858;
}

.table {
	margin-bottom: 0px;
}

.table th, .table td {
	border-top: 0;
}

input, select {
	height: auto !important;
}

input, select, textarea {
	width: 100%;
	line-height: 16px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
  	resize: none;
}

textarea {
  	resize: vertical;
}

.collapse {
	position: static;
}

.modal-body .btn-group {
	margin-left: 0;
	margin-bottom: 5px;
}

.btn-group {
	position: absolute;
	margin-left: 10px;
}

.btn-group > .btn {
	vertical-align: bottom;
}

.media-heading.post {
	line-height: 22px;
	vertical-align: middle;
}

.media-heading.com {
	line-height: 18px;
	vertical-align: middle;
}

.tooltip {
	font-weight: normal;
}

.btn-group > .tooltip + .btn {
	margin-left: -1px;
}

.btn-group > .btn.last {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.register {
	text-align: left;
	margin-top: 15px;
}

.well {
	margin-bottom: 0px;
}

#searchModal .modal-body {
	padding-bottom: 45px;
}

.modal-body label {
	font-weight: bold;
}

.modal-body input {
	margin-bottom: 0px;
}

.modal-body dd input {
   margin-top: -5px;
}

.modal-body dd button {
   margin-top: -5px;
}

.modal-body dl {
	height: 20px;
}

.modal-body dl dd:last-child {
	padding-bottom: 8px;
}

.modal-body dt {
   float:left;
   clear: both;
   width: 30%;
}

.modal-body dd {
   float: right;
   width: 68%;
   margin-bottom: 8px;
}

.modal-body dd.error {
	text-shadow: 1px 1px 1px rgba(185, 74, 72, 0.5);
	color: #b94a48;
}

.modal-body dd.info {
	display: none;
	text-shadow: 1px 1px 1px rgba(118, 185, 0, 0.5);
	color: #76B900;
}

.comment {
	margin-left: 50px;
}

#addPost label,
#addComment label {
	display: none;
}

#addPost dl, dd,
#addComment dl, dd {
	margin: 0;
}

#commentContent{
	margin-right: 10px;
	width: 80%;
	float: left;
}