body {
    color: #2A3A48;
    font: 13px "Lucida Grande","Helvetica Neue",sans-serif;
}
body > header {
    background: -moz-linear-gradient(center top , #445868, #2A3A48) repeat scroll 0 0 #445868;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.8) inset;
    padding: 10px;
    z-index: 9;
    height: 40px;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;
}
h1 {
	display: inline-block;
}
#logo {
    color: black;
    font-size: 30px;
    position: absolute;
    text-decoration: none;
    text-shadow: 4px 2px 5px #D92D3B;
    text-transform: uppercase;
    top: 16px;
}
#logo span {
    color: #5DAAD5;
}
a {
    color: #4794C4;
    text-decoration: none;
}
#user {
    position: absolute;
    right: 10px;
    top: 10px;
}
#buttons{
	margin: 0 auto;
    width: 350px;
}
dt {
    color: #FFFFFF;
}
dd {
	display: inline-block;
}
#user > * {
    display: inline-block;
}
dt span {
    font-size: 11px;
    opacity: 0.5;
}
dd a, dd button {
    background: -moz-linear-gradient(center top , rgba(187, 255, 255, 0.2), rgba(187, 255, 255, 0)) repeat scroll 0 0 #2A3A48;
    border: 1px solid #192937;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
    color: #C7D1D8;
    cursor: pointer;
    padding: 2px 5px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.content {
	text-align: center;
}