@(accounts: List[Account])

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<h3 id="searchModalLabel">Freunde suchen</h3>
	</div>
	<div class="modal-body">
		<br />
		<form class="form-search">
			<div style="width: 100%">
				<div class="input-append">
					<input type="text" class="search-query"
						placeholder="Name oder Studiengang eingeben..." id="accountSearchQuery">
					<button type="button" class="btn btn-warning" id="accountSearchSubmit">Suchen</button>
				</div>
			</div>
		</form>
		<br />
		<table class="table table-hover">
			<colgroup>
				<col width="15%">
				<col width="70%">
				<col width="15%">
			</colgroup>
			<thead>
				<tr>
					<th>Avatar</th>
					<th>Name</th>
					<th>Optionen</th>
				</tr>
			</thead>
			<tbody>
			@for(account <- accounts) {
				<tr>
					<td>@views.html.snippets.userLinkAvatar(account)</td>
					<td>@views.html.snippets.userLink(account)</td>
					<td><a href="@routes.FriendshipController.requestFriend(account.id)" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
	</div>
