<div id="searchModal" class="modal hide fade" tabindex="-1"
	role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<h3 id="searchModalLabel">Freunde suchen</h3>
	</div>
	<div class="modal-body">
		<br />
		<form class="form-search">
			<div style="width: 100%">
				<div class="input-append">
					<input type="text" class="search-query"
						placeholder="Name oder Studiengang eingeben...">
					<button type="button" class="btn btn-warning">Suchen</button>
				</div>
			</div>
		</form>
		<br />
		<table class="table table-hover">
			<colgroup>
				<col width="15%">
				<col width="60%">
				<col width="25%">
			</colgroup>
			<thead>
				<tr>
					<th>Avatar</th>
					<th>Name<br /> (Studiengang)
					</th>
					<th>Verfügbare Optionen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="25"
						width="25" class="img-polaroid" /></td>
					<td><a href="#">Anne Hasenpusch</a><br /> (Angewandte
						Informatik)</td>
					<td><a href="#" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
				<tr>
					<td><img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="25"
						width="25" class="img-polaroid" /></td>
					<td><a href="#">Björn Ahlfeld</a><br /> (Angewandte
						Informatik)</td>
					<td><a href="#" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
				<tr>
					<td><img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="25"
						width="25" class="img-polaroid" /></td>
					<td><a href="#">Daniel Pinkpank</a><br /> (Angewandte
						Informatik)</td>
					<td><a href="#" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
				<tr>
					<td><img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="25"
						width="25" class="img-polaroid" /></td>
					<td><a href="#">Fabian Kirstein</a><br /> (Angewandte
						Informatik)</td>
					<td><a href="#" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
				<tr>
					<td><img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="25"
						width="25" class="img-polaroid" /></td>
					<td><a href="#">Iven Zimmer</a><br /> (Angewandte Informatik)</td>
					<td><a href="#" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
				<tr>
					<td><img alt="avatar" src="@routes.Assets.at("images/avatar.png")" height="25"
						width="25" class="img-polaroid" /></td>
					<td><a href="#">Kevin van Bernum</a><br /> (Angewandte
						Informatik)</td>
					<td><a href="#" rel="tooltip" title="Einladung senden"><i
							class="icon-plus"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
	</div>
</div>