@(groupForm: Form[Group])
@import helper._


<!DOCTYPE html>
<html lang="de">
<head>
    <title>Couchkeepa</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">
	<!-- Own -->
	<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/background.css")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <header>
        <div class="container">
            <div class="span9">
                <div id="logo"></div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="span9">
                <div id="right">
                    <div id="topRight"></div>
                    <div id="bottomRight"></div>
                    <div id="left">
                        <div id="topLeft"></div>
                        <div id="bottomLeft"></div>
                        <!-- Content -->
                        <div id="top">
                            <div id="bottom">
                                <div id="content">
                                    <br />
                                    <ul class="breadcrumb">
                                        <li><a href="newsstream.html">Home</a> <span class="divider">/</span></li>
                                        <li class="active">Gruppen</li>
                                    </ul>

                                    <!-- newModal -->
                                    <div id="newModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                                    @views.html.Group.snippets.addModal(groupForm)
                                    </div>
                                    <!-- Ende newModal -->

                                    <!-- searchModal -->
                                    <div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                            <h3 id="searchModalLabel">Gruppe suchen</h3>
                                        </div>
                                        <div class="modal-body">
                                            <br />
                                            <form class="form-search">
                                                <div class="input-append">
                                                    <input type="text" class="search-query" placeholder="Gruppenname eingeben...">
                                                    <button type="button" class="btn btn-warning">Suchen</button>
                                                </div>
                                            </form>
                                            <br />
                                            <table class="table table-hover">
                                                <colgroup>
                                                    <col width="40%">
                                                    <col width="30%">
                                                    <col width="30%">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>Gruppenname</th>
                                                        <th>Erstellt von</th>
                                                        <th>Verfügbare Optionen</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><i class="icon-globe"></i><a href="#" rel="popover" data-trigger="hover" data-content="Hier kommt die Beschreibung der Gruppe hinein, die der Gruppengründer bei den Informationen eingetragen hat." data-original-title="Beschreibung"> AI Master 12/13</a></td>
                                                        <td><a href="#" rel="popover" data-html="true" data-trigger="hover" data-content="Rolle: Student <br /> Angewandte Informatik (Master)" data-original-title="Anne Hasenpusch" data-placement="top">Anne Hasenpusch</a></td>
                                                        <td><a href="#" rel="tooltip" title="Beitreten"><i class="icon-ok"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="icon-globe"></i><a href="#" rel="popover" data-trigger="hover" data-content="Hier kommt die Beschreibung der Gruppe hinein, die der Gruppengründer bei den Informationen eingetragen hat." data-original-title="Beschreibung"> Forschungsprojekte Sieck</a></td>
                                                        <td><a href="#" rel="popover" data-html="true" data-trigger="hover" data-content="<div class=&quot;own-popover&quot;>Rolle: Student <br /> Studiengang (Master)</div>" data-original-title="Stephan Bergemann" data-placement="top">Stephan Bergemann</a></td>
                                                        <td><a href="#" rel="tooltip" title="Beitreten"><i class="icon-ok"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td><i class="icon-lock"></i><a href="#" rel="popover" data-trigger="hover" data-content="Hier kommt die Beschreibung der Gruppe hinein, die der Gruppengründer bei den Informationen eingetragen hat." data-original-title="Beschreibung"> Lerngruppe DiskMath</a></td>
                                                        <td><a href="#" rel="popover" data-html="true" data-trigger="hover" data-content="Rolle: Student <br /> Angewandte Informatik (Master)" data-original-title="Daniel Pinkpank" data-placement="top">Daniel Pinkpank</a></td>
                                                        <td><a href="#" rel="tooltip" title="Anfrage senden"><i class="icon-envelope"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
                                        </div>
                                    </div>
                                    <!-- Ende searchModal -->

                                    <br />
                                    <h1>Offene Einladungen</h1>
                                    <table class="table table-hover">
                                        <colgroup>
                                            <col width="75%">
                                            <col width="25%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Gruppenname</th>
                                                <th>Verfügbare Optionen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i class="icon-lock"></i><a href="#"> AT Projekt</a></td>
                                                <td><a href="#" rel="tooltip" title="Annehmen"><i class="icon-ok"></i></a> <a href="#" rel="tooltip" title="Ablehnen"><i class="icon-remove"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td><i class="icon-globe"></i><a href="#"> Weihnachtsfeier</a></td>
                                                <td><a href="#" rel="tooltip" title="Annehmen"><i class="icon-ok"></i></a> <a href="#" rel="tooltip" title="Ablehnen"><i class="icon-remove"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr /><br />
                                    <h1>Meine Gruppen
                                        <div class="btn-group">
                                            <a href="#newModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i></a>
                                            <a href="#searchModal" role="button" class="btn" data-toggle="modal"><i class="icon-search"></i></a>
                                        </div>
                                    </h1>
                                    <table class="table table-hover">
                                        <colgroup>
                                            <col width="75%">
                                            <col width="25%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Gruppenname</th>
                                                <th>Verfügbare Optionen</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><i class="icon-lock"></i><a href="gruppe_detail.html"> Awesome</a></td>
                                                <td><i id="test" class="icon-remove"></i></td>
                                            </tr>
                                                                                       
                                            <tr>
                                                <td><i class="icon-lock"></i><a href="gruppe_detail_owner.html"><b> Awesomeness</b></a> <small>(gegründet)</small></td>
                                                <td><a href="gruppe_detail_owner.html#showEdit" rel="tooltip" title="Bearbeiten"><i class="icon-pencil"></i></a> <a href="#" rel="tooltip" title="Löschen"><i class="icon-trash"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td><i class="icon-globe"></i><a href="#"> Couchkeepa</a></td>
                                                <td><a href="#" rel="tooltip" title="Verlassen"><i class="icon-remove"></i></a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Ende Content -->
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <div class="span3">
                <div class="navi" data-spy="affix" data-offset-top="145" data-offset-bottom="83">
                    <div class="postit">
                        <div class="postitHeader deactive"></div>
                        <div class="postitBody deactive">
                            <a href="profil.html">Profil</a><br />
                            <img alt="avatar" src="../img/avatar.png" height="50" width="50" class="img-polaroid"/><br />
                            <a href="profil.html">Max Mustermann</a><br /><br />
                            <small><a href="../index.html">logout </a></small><i class="icon-remove-sign icon-white"></i>
                        </div>
                        <div class="postitFooter deactive"></div>
                    </div>
                    <div class="postit">
                        <div class="postitHeader deactive"></div>
                        <div class="postitBody deactive"><a href="newsstream.html">Newsstream</a></div>
                        <div class="postitFooter deactive"></div>
                    </div>
                    <div class="postit">
                        <div class="postitHeader deactive"></div>
                        <div class="postitBody deactive"><a href="freunde.html">Freunde</a></div>
                        <div class="postitFooter deactive"></div>
                    </div>
                    <div class="postit">
                        <div class="postitHeader active"></div>
                        <div class="postitBody active"><a href="gruppen.html">Gruppen</a><br /></div>
                        <div class="postitFooter active"></div>
                    </div>
                    <div class="postit">
                        <div class="postitHeader deactive"></div>
                        <div class="postitBody deactive"><a href="kurse.html">Kurse</a><br /></div>
                        <div class="postitFooter deactive"></div>
                    </div>
                </div>
                <!-- Ende Navigation -->

            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="span9">
                <div id="htw">
                    <a href="#">Impressum</a>
                </div>
            </div>
        </div>
    </footer>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.0.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/application.js")"></script>
  <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/ajax.js")"></script>
    
</body>
</html>
