@(groupForm: Form[Group], user: Account)
@import helper._

@main("Add Group", user) {
    
    <h1>Add a new Group</h1>
    <br />
    @form(routes.GroupController.create()) {
        
        @inputText(groupForm("title"), '_label -> "Title: ") 
     	@textarea(groupForm("description"), '_label -> "Description: ") 
   		@inputText(groupForm("token"), '_label -> "Token: ")
   		@checkbox(groupForm("isClosed"), '_label -> None, '_text -> "geschlossene Gruppe")
   		
        <input type="submit" value="Create" class="btn btn-success">
        
    }
    
}