@(groupForm: Form[Group])
@import helper._

@main("Gruppe erstellen	") {
	<h2>Gruppe erstellen</h2>
	<br>
	<div class="noModal">

    @form(routes.GroupController.add()) {

	@inputText(groupForm("title"), '_label -> "Titel")
	@textarea(groupForm("description"), '_label -> "Beschreibung")
	<dl>
		<dt>Sichtbarkeit</dt>
		<dd>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="0" checked>
				<i class="icon-globe"></i> Öffentliche Gruppe
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
				<i class="icon-lock"></i> Private Gruppe
			</label>
			<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="2">
				<i class="icon-briefcase"></i> Kurs
			</label>
		</dd>
	</dl>
	@inputText(groupForm("token"), '_label -> "Token")
	
	<button class="btn btn-success">Gruppe erstellen</button>
	}
	
    </div>
}