@(groupForm: Form[Group])
@import helper._

@main("Gruppe erstellen	") {
	<h2>Gruppe erstellen</h2>
	<br>
	<div class="noModal">

    @form(routes.GroupController.add()) {

	@inputText(groupForm("title"), 'class -> "form-control", '_label -> "Titel")
	@textarea(groupForm("description"), 'class -> "form-control", '_label -> "Beschreibung")
	@inputRadioGroup(groupForm("visibility"),
					 options = options("0"->"Öffentliche Gruppe","1"->"Private Gruppe","2"->"Kurs"),
          			 '_label -> "Sichtbarkeit")
	@inputText(groupForm("token"), 'class -> "form-control", '_label -> "Token")
	
	<button type="submit" class="btn btn-warning">Gruppe erstellen</button>
	}
	
    </div>
}