@(approvedGroups: List[Group], approvedCourses: List[Group], unapprovedGroups: List[GroupAccount], groupForm: Form[Group])
@import helper._
@import models.enums._

@main("Gruppen") {
	@views.html.Group.snippets.navTabsAdd()

	<!-- Start infoModal -->
	@for(group <- approvedGroups ++ approvedCourses) {
	<div class="modal fade" id="infoModal@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.infoModal(group)
	</div>
	}
	<!-- Ende infoModal -->
	
	
	<!-- Start confirmDeleteGroupModal -->
	@for(group <- approvedGroups ++ approvedCourses) {
	<div class="modal fade" id="confirmDeleteGroup@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.deleteGroupModal(group)
	</div>
	}
	<!-- End confirmDeleteGroupModal -->
	
	
	@defining(Component.currentAccount()) { user =>
		<h2>
			<span rel="tooltip" data-original-title="Hier findest du den aktuellen Status deiner Gruppen-Anfragen." data-delay="500" data-container="body">
				Offene Anfragen
			</span>
		</h2>
		
		@if(!unapprovedGroups.isEmpty){
		<table class="table table-hover">
			<colgroup>
				<col width="30%">
				<col width="30%">
				<col width="20%">
				<col width="20%">
			</colgroup>
			<thead>
				<tr>
					<th>Gruppenname</th>
					<th>Von</th>
					<th>Status</th>
					<th>Optionen</th>
				</tr>
			</thead>
		
			<tbody>
				@for(accountGroup <- unapprovedGroups) {
				<tr>
					@if(accountGroup.account.equals(user)) {
						<td><a href="@routes.GroupController.view(accountGroup.group.id)">@truncate(accountGroup.group.title,30)</a></td>
						<td><a href="@routes.ProfileController.view(accountGroup.account.id)">Dir</a></td>
						<td>@if(accountGroup.linkType.equals(models.enums.LinkType.reject)) {abgelehnt} else {in Bearabeitung}</td>
						<td><a href="@routes.GroupController.removeMember(accountGroup.group.id, accountGroup.account.id)" rel="tooltip" data-original-title="@if(accountGroup.linkType.equals(models.enums.LinkType.reject)) {löschen} else {Anfrage zurückziehen}" data-container="body"><span class="glyphicon glyphicon-remove"></span></a></td>
					} else {
						<td><a href="@routes.GroupController.view(accountGroup.group.id)">@truncate(accountGroup.group.title,30)</a></td>
						<td>@views.html.snippets.userLink(accountGroup.account)</td>
						<td>zu bearbeiten</td>
						<td>
							<a href="@routes.GroupController.acceptRequest(accountGroup.group.id, accountGroup.account.id)" rel="tooltip" data-original-title="Anfrage akzeptieren" data-container="body"><span class="glyphicon glyphicon-ok"></span></a>
						    <a href="@routes.GroupController.declineRequest(accountGroup.group.id, accountGroup.account.id)" rel="tooltip" data-original-title="Anfrage zurückweisen" data-container="body"><span class="glyphicon glyphicon-remove"></span></a>
						
					}
				</tr>
				}
			</tbody>
		</table>
		} else {
		<p><i>Keine Anfragen vorhanden.</i></p>
		}
		<hr />
		
		<h2>
			<span rel="tooltip" data-original-title="Hier findest du alle Gruppen die du gegründet hast oder denen du beigetreten bist." data-delay="500" data-container="body">
				Meine Gruppen
			</span>
		</h2>
				
		@if(!approvedGroups.isEmpty){
			@views.html.Group.snippets.listGroups(approvedGroups, user)
		} else {
		<p><i>Noch keiner Gruppe beigetreten.</i></p>
		}
		
		<br />
		
		<h2>
			<span rel="tooltip" data-original-title="Hier findest du alle Gruppen die du gegründet hast oder denen du beigetreten bist." data-delay="500" data-container="body">
				Meine Kurse
			</span>
		</h2>
		
		
		@if(!approvedCourses.isEmpty){
			@views.html.Group.snippets.listCourses(approvedCourses, user)
		} else {
		<p><i>Noch keinen Kursen beigetreten.</i></p>
		}
		
		<br />
	}
}
