@(groups: List[Group], groupForm: Form[Group])

@import helper._

@main("Gruppen") {


    
    <!-- Content -->
            <!-- createNewGroupModal -->
            <div id="createNewGroupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createNewGroupModalLabel" aria-hidden="true">
            @views.html.Group.snippets.addModal(groupForm)
            </div>
            <!-- Ende createNewGroupModal -->
            
            <!-- searchModal -->
            <div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
            	@views.html.Group.snippets.searchModal(groups)    
            </div>
            <!-- Ende searchModal -->
            
			<!-- Start infoModal 
				Fuer alle Gruppen ein infoModal. Ein bisschen dirty, oder?
			-->
			@for(group <- groups) {	
			<div id="infoModal@group.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false">
	        	@views.html.Group.snippets.infoModal(group)    
	        </div>
	        }
            <!-- Ende infoModal --> 
            
			<!-- Start editModal -->
			<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">

			<div class="loading-modal">
			<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">x</button>
					<h3 id="editModalLabel">Gruppe bearbeiten</h3>
				</div>
				<div class="modal-body"><div id="loading"></div>Wird geladen</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Schließen</button>
				</div>
			</div>
			</div>
            <!-- Ende editModal -->
                                   
            <br />
            
            <h1>Offene Einladungen</h1>
            <table class="table table-hover">
                <colgroup>
                    <col width="75%">
                    <col width="25%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Gruppenname</th>
                        <th>Verf&uuml;gbare Optionen</th>
                    </tr>
                </thead>
                <!-- 
                <tbody>
                    <tr>
                        <td><i class="icon-lock"></i><a href="#"> AT Projekt</a></td>
                        <td><a href="#" rel="tooltip" title="Annehmen"><i class="icon-ok"></i></a> <a href="#" rel="tooltip" title="Ablehnen"><i class="icon-remove"></i></a></td>
                    </tr>
                    <tr>
                        <td><i class="icon-globe"></i><a href="#"> Weihnachtsfeier</a></td>
                        <td><a href="#" rel="tooltip" title="Annehmen"><i class="icon-ok"></i></a> <a href="#" rel="tooltip" title="Ablehnen"><i class="icon-remove"></i></a></td>
                    </tr>
                </tbody>
                 -->
            </table>
            <hr /><br />
            <h1>Meine Gruppen
                <div class="btn-group">
                    <a href="#createNewGroupModal" role="button" class="btn" data-toggle="modal"><i class="icon-plus"></i></a>
                    <a href="#searchModal" role="button" class="btn" data-toggle="modal"><i class="icon-search"></i></a>
                </div>
            </h1>
            <table class="table table-hover">
                <colgroup>
                    <col width="75%">
                    <col width="25%">
                </colgroup>
                <thead>
                    <tr>
                        <th>Gruppenname</th>
                        <th>Verf&uuml;gbare Optionen</th>
                    </tr>
                </thead>
                <tbody>
                @defining(Component.currentAccount()) { user =>
                	@for(group <- groups) {
                	                                                              
                    <tr>
                        <td>
	                        @if(group.isClosed == true) {
	                           <i class="icon-lock"></i>
	                        } else {
	                           <i class="icon-globe"></i>
	                        }
	                        <a href="@routes.GroupController.view(group.id)">@if(group.owner.id == user.id){<b> @group.title</b></a> <small>(gegr&uuml;ndet)</small>}else{ @group.title}
	                    </td>
                        <td>
                        	<a href="#infoModal@group.id"  rel="tooltip" data-toggle="modal" data-original-title="Info"><i class="icon-info-sign"></i></a>
                        	@if(group.owner.id == user.id){
                        		<a href="@routes.GroupController.edit(group.id)" rel="tooltip" data-toggle="modal" data-original-title="Gruppe bearbeiten" class="editGroup"><i class="icon-pencil"></i></a>
                        	}
                        	@if(group.owner.id == user.id){
                        		<a href="@routes.GroupController.delete(group.id)" rel="tooltip" title="Gruppe löschen"><i class="icon-trash"></i></a>
                        	}
                        </td>
                    </tr>
                    <!-- <i class="icon-globe"> -->
                    
                	}
                }
                </tbody>
            </table>
<!-- Ende Content -->
    
    
}