@(group: Group, mediaForm: Form[Media], mediaList: List[Media], isMember: Boolean)
@import helper._
@import models.enums._

@main("Group Media") {

	<!-- Start infoModal -->
	 <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false">
	 	@views.html.Group.snippets.infoModal(group)    
	 </div>
	 <!-- Ende infoModal -->
		
	 <!-- Start confirmDeleteGroupModal -->
	 <div id="confirmDeleteGroup" class="modal fade" tabindex="-1" role="dialog">
	 	@views.html.Group.snippets.deleteGroupModal(group)   
	 </div>
	 <!-- End confirmDeleteGroupModal -->

	
		
	
	@if(!group.isClosed || isMember) {
		@views.html.Group.snippets.navTabs(group)
		<div class="clear">
		<h2 class="hp-truncate">@group.title</h2>
		<br />
		<br />
	
		@if(!mediaList.isEmpty) {
 			@views.html.Media.list(mediaList,models.Media.GROUP,group.id)
 		} else {
		<br /><br />
		<i>Es wurden noch keine Dateien hochgeladen.</i>
 		}
		<hr />
		<br />

 		@views.html.Media.upload(mediaForm,models.Media.GROUP,group.id)
 		
	} else {
		<h2>
			@truncate(group.title,30)
			<span class="glyphicon glyphicon-lock"></span>
			<div class="btn-group">
				<a href="#infoModal@group.id" type="button" class="btn btn-default" data-toggle="modal" rel="tooltip" data-original-title="Gruppeninfo" data-container="body"><span class="glyphicon glyphicon-info-sign"></span></a>
				<a href="@routes.GroupController.join(group.id)" type="button" class="btn btn-default" rel="tooltip" data-original-title="Beitreten" data-container="body"><span class="glyphicon glyphicon-ok"></span></a>
			</div>
		</h2>
		<br />
		<h4>Diese Gruppe ist leider geschlossen.</h4>

	}
	</div>

}