@(groups: List[Group], courses: List[Group], users: List[Account])
@import models.enums._

@main("Searchresult"){

	@defining(Component.currentAccount()) { user =>
	
		@if(courses != null && courses.size != 0) {
			
			<h3>Gefundene Kurse:</h3>
		
			<!-- Start confirmDeleteGroupModal -->
			@for(group <- groups) {
				<div class="modal fade" id="confirmDeleteGroup@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
					@views.html.Group.snippets.deleteGroupModal(group)
				</div>
			}
			<!-- End confirmDeleteGroupModal -->
			
			<!-- Start infoModal -->
			@for(group <- groups) {
			<div class="modal fade" id="infoModal@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.infoModal(group)
			</div>
			}
			<!-- Ende infoModal -->
			
			<!-- list all found courses -->
			@views.html.Group.snippets.listCourses(courses, user)
			</br>
			
		}
		
		@if(groups != null && groups.size != 0) {
		
			<h3>Gefundene Gruppen:</h3>
		
			<!-- Start confirmDeleteGroupModal -->
			@for(course <- courses) {
				<div class="modal fade" id="confirmDeleteGroup@course.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
					@views.html.Group.snippets.deleteGroupModal(course)
				</div>
			}
			<!-- End confirmDeleteGroupModal -->
			
			<!-- Start infoModal -->
			@for(course <- courses) {
			<div class="modal fade" id="infoModal@course.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.infoModal(course)
			</div>
			}
			<!-- Ende infoModal -->
			
			<!-- list all found groups -->
			@views.html.Group.snippets.listGroups(groups, user)
			</br>
		
		}
		
		@if(users != null && users.size != 0) {
			
			<h3>Gefundene Personen:</h3>
			
			<!-- list all found groups -->
			@views.html.snippets.listAccounts(users)
		
		}
		
		@if(courses.size == 0 && groups.size == 0 && users.size == 0) {
		
			<h4><i>Dazu konnten wir leider nichts finden :-(</i></h4>
		}
	
	}
} 
