@(groups: List[Group], courses: List[Group], users: List[Account])
@import models.enums._

@main("Searchresult"){
	
	@if(groups != null && groups.size != 0) {

		<!-- Start confirmDeleteGroupModal -->
		@for(group <- groups) {
			<div class="modal fade" id="confirmDeleteGroup@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
				@views.html.Group.snippets.deleteGroupModal(group)
			</div>
		}
		<!-- End confirmDeleteGroupModal -->
		
		<!-- Start infoModal -->
		@for(group <- groups) {
		<div class="modal fade" id="infoModal@group.id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
			@views.html.Group.snippets.infoModal(group)
		</div>
		}
		<!-- Ende infoModal -->
	
		<br />
		
		@defining(Component.currentAccount()) { user =>

			<!-- list all found courses -->
			@views.html.Group.snippets.listCourses(groups, user)
			</br>
			<!-- list all found groups -->
			@views.html.Group.snippets.listGroups(groups, user)
			
		}
		
	} else {
	  	<h2>Keine Suchergebnisse</h2>
	  }
	  
	<br />
} 
