@(groups: List[Group])
@import models.enums._
@main("Searchresult"){ @if(groups != null) {


	<h2>Suchergebnisse</h2>
	<br>
	<div class="noModal">
		<table class="table table-hover">
			<colgroup>
				<col width="45%">
				<col width="40%">
				<col width="15%">
			</colgroup>
			<thead>
				<tr>
					<th>Gruppenname</th>
					<th>Erstellt von</th>
					<th>Optionen</th>
				</tr>
			</thead>
			<tbody>
				@for(group <- groups){
					@if(!Secured.isMemberOfGroup(group, Component.currentAccount)) {
						<tr>
							<td>
								@{group.groupType match {
									case GroupType.open => {<i class="glyphicon glyphicon-globe"></i>}
									case GroupType.close => {<i class="glyphicon glyphicon-lock"></i>}
									case GroupType.course => {<i class="glyphicon glyphicon-briefcase"></i>}
								} }
								<a href="@routes.GroupController.view(group.id)" rel="popover" data-trigger="hover" data-content="@group.description" data-original-title="Beschreibung" data-placement="top">@group.title</a>
							</td>
							<td>
								@views.html.snippets.userLink(group.owner)
							</td>
							<td>
								@{group.groupType match {
									case GroupType.open => {<a href="@routes.GroupController.join(group.id)" rel="tooltip" title="Beitreten"><i class="glyphicon glyphicon-plus"></i></a>}
									case GroupType.close => {<a href="@routes.GroupController.join(group.id)" rel="tooltip" title="Anfrage senden"><i class="glyphicon glyphicon-envelope"></i></a>}
									case GroupType.course => {<a href="@routes.GroupController.join(group.id)" rel="tooltip" title="Beitreten"><i class="glyphicon glyphicon-plus"></i></a>}
								} }
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div> <!-- /noModal -->
} else {
	<h2>Keine Suchergebnisse</h2>
} } 
