@(group: Group, posts:List[Post], postForm: Form[Post], isMember: Boolean )
@import helper._

@main("Group View") {
	<br />
	@if(!group.isClosed || isMember) {
	<h1>
		@group.title
		@if(group.isClosed) {<i class="icon-lock"></i>} else {<i class="icon-globe"></i>}
		<div class="btn-group">
			<a href="@routes.GroupController.media(group.id)" role="button" class="btn" rel="tooltip" data-original-title="Gruppenmedien"><i class="icon-file"></i></a>
			@defining(Component.currentAccount()) { user => @if(group.owner.id == user.id){
				<a href="@routes.GroupController.edit(group.id)" role="button" rel="tooltip" data-toggle="modal" data-original-title="Gruppe bearbeiten" class="btn editGroup"><i class="icon-pencil"></i></a>
				<a href="#confirmDeleteGroup" role="button" class="btn" rel="tooltip" data-toggle="modal" data-original-title="Gruppe löschen" class="btn deleteGroup"><i class="icon-trash"></i></a>
				}@if(!isMember){
				<a href="@routes.GroupController.join(group.id)" role="button" class="btn" rel="tooltip" data-original-title="Beitreten"><i class="icon-ok"></i></a>
				}
			}
			<a href="#infoModal@group.id" role="button" class="btn last" data-toggle="modal" rel="tooltip" data-original-title="Gruppeninfo"><i class="icon-info-sign"></i></a>
		</div>
	</h1>
	<br />
	
	<!-- Start editModal -->
				<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
	
				<div class="loading-modal">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">x</button>
						<h3 id="editModalLabel">Gruppe bearbeiten</h3>
					</div>
					<div class="modal-body"><div id="loading"></div>Wird geladen</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Schlie&szlig;en</button>
					</div>
				</div>
				</div>
	<!-- Ende editModal -->
		
	Erstellt von
	<a href="#" rel="popover" data-html="true" data-trigger="hover"
		data-delay="500"
		data-content="Rolle: Student <br /> Studiengang: Angewandte Informatik"
		data-original-title="Max Mustermann" data-placement="top">@group.owner.firstname @group.owner.lastname</a>
	am @group.createdAt.format("dd. MMM yyyy")
	<br />
	<hr />
	<br />
	
	@views.html.snippets.postForm(group.id, "group", postForm) 
		
	@if(posts != null) {
		@for(post <- posts) {
			@if(post.parent == null){
				@views.html.snippets.postView(post, group.id, postForm)
			}
		}
	}
	
	} else {
		<h1>
		@group.title
		<i class="icon-lock"></i>
		<div class="btn-group">
			<a href="#infoModal@group.id" role="button" class="btn" data-toggle="modal" rel="tooltip" data-original-title="Gruppeninfo"><i class="icon-info-sign"></i></a>
			<a href="@routes.GroupController.join(group.id)" role="button" class="btn last" rel="tooltip" data-original-title="Beitreten"><i class="icon-ok"></i></a>
		</div>
		</h1>
		<br />
		<h4>Diese Gruppe ist leider geschlossen.</h4>

		}
		
	<!-- Start infoModal -->
	<div id="infoModal@group.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false">
		@views.html.Group.snippets.infoModal(group)    
	</div>
	<!-- Ende infoModal -->
	
	<!-- Start confirmDeleteGroupModal -->
	<div id="confirmDeleteGroup" class="modal hide fade" tabindex="-1" role="dialog">
		@views.html.Group.snippets.deleteGroupModal(group)   
	</div>
	<!-- End confirmDeleteGroupModal -->
}
