@(group: Group, posts:List[Post],postForm:  Form[Post] )

@import helper._

@main("Group View") {
    
    <h2>@group.title</h2>
    
    Description:<br />
    @group.description
    <br />
    Created At:<br />
    @group.createdAt.format("dd. MMM yyyy")
    <br />
    Updated At:<br />
    @group.updatedAt.format("dd. MMM yyyy")
    <br />
    Is closed:<br />
    <input id="groupIsClosed" type="checkbox" name="group.isClosed" ${group.isClosed ? 'checked':''}  />
    
    
    @form(routes.GroupController.addPost(group.id)) {
     	@textarea(postForm("Content"), '_label -> "Content: ") 	
        <input type="submit" value="Add Post to Group" class="btn btn-success">    
    }
    
    @if(posts != null){
    	<h2>Posts</h2>
    	<table class="table">
    	@for(post <- posts){
    	
    	<tr>
    	<td>@post.content</td>
    	<td>@post.owner.loginname</td>
    	<td><a href="" class="btn">Edit</a> </td>
    	<td><a href="" class="btn">Delete</a> </td>
    	</tr>
    	}
    	</table>
    }
}