@(group: Group, posts:List[Post], postForm: Form[Post], isMember: Boolean)
@import helper._
@import models.enums._

@main("Group View") {

	<!-- Start infoModal -->
	<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.infoModal(group)    
	</div>
	<!-- Ende infoModal -->
	
	<!-- Start confirmDeleteGroupModal -->
	<div class="modal fade" id="confirmDeleteGroup" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
		@views.html.Group.snippets.deleteGroupModal(group)   
	</div>
	<!-- End confirmDeleteGroupModal -->
	
	@if(group.groupType != GroupType.close || Secured.isMemberOfGroup(group, Component.currentAccount)) {
		@views.html.Group.snippets.navTabs(group)
	
	<div class="clear">
		<h2 class="hp-truncate">@group.title</h2>
		<br />
		<br />
				
		@views.html.snippets.postForm(group.id, models.Post.GROUP, postForm) 
		
		@if(posts != null) {
			@for(post <- posts) {
				@if(post.parent == null){
					@views.html.snippets.postView(post, postForm,  models.Post.GROUP)
				}
			}
		}
	
	} else {
		<ul class="nav nav-tabs nav-justified">
			<li><a href="#infoModal@group.id" type="button" class="btn btn-default" data-toggle="modal" rel="tooltip" data-original-title="Gruppeninfo" data-container="body"><span class="glyphicon glyphicon-info-sign"></span></a></li>
			<li><a href="@routes.GroupController.join(group.id)" type="button" class="btn btn-default" rel="tooltip" data-original-title="Beitreten" data-container="body"><span class="glyphicon glyphicon-ok"></span></a></li>
		</ul>
		
		<br />
		<h4>Diese Gruppe ist leider geschlossen.</h4>

	}
	</div>
}
