@(mediaList:List[Media],target:String,id:Long) 
@import helper._

<table class="table table-hover" style="table-layout: fixed">
	<colgroup>
       <col width="40%">
       <col width="20%">
       <col width="20%">
       <col width="20%">
	</colgroup>
	<thead>
       <tr>
           <th>Dateiname</th>
           <th>Hochgeladen von</th>
           <th>Datum</th>
           <th>Auswahl</th>
       </tr>
	</thead>
    <tbody>


@form(action = routes.MediaController.multiView(target,id)) {

@for(m <- mediaList) {
 	 <tr>
         <td><a href="@routes.MediaController.view(m.id)">@m.title</a></td>
         <td><a href="@routes.ProfileController.view(m.owner.id)" rel="popover" data-html="true" data-trigger="hover" data-delay="500" data-content="Rolle: Student <br /> Studiengang: Angewandte Informatik " data-original-title="Anne Hasenpusch" data-placement="right">@m.owner.name</a></td>
         <td>@m.createdAt.format("dd. MMM yyyy")</td>
         <td><label class="checkbox"><input name="selection" value="@m.id" type="checkbox"></label></td>
     </tr>
                                        	
}
	<tr>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="checkbox"> alles auswählen</td>
    </tr>
    </tbody>
    <tfoot>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td><button class="btn btn-warning btn-small">Auswahl herunterladen</button></td>
        </tr>
    </tfoot>
    
 }
</table>