@(mediaForm: Form[Media],target:String,id:Long) 
@import helper._

<h4>Neue Dateien hochladen <div class="loading" id="loadingMedia"></div></h4>

@form(action = routes.MediaController.upload(target, id), 'enctype -> "multipart/form-data", 'id -> "fileuploadForm") {
<input class="span5" id="fileupload-input" type="file" name="upload" multiple="multiple" onchange="setFileNames()">
}

<div class="input-append" id="fileupload" rel="tooltip" data-original-title="Hier klicken, um Dateien auszuwählen!" data-placement="bottom" data-delay="500">
	<label for="fileupload-input">
		<input class="span5" id="files" type="text" placeholder="Dateien zum Hochladen" readonly="true">
	</label>
	<input class="btn btn-warning" type="button" value="Senden" onclick="mediaUpload();">
</div>

