@(title: String)(content: Html)
@defining(Component.currentAccount()) { user =>

<!DOCTYPE html>
<html lang="de">
<head>
<title>HTW.plus()</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap-responsive.css")">
<!-- Own -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/application.js")"></script>
<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/background.css")">
<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/ajax.css")">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

@if(user != null){
<body id="smallHead">
} else {
<body>
}

	<header>
		<div class="container">
			<div class="span9">
				<div id="logo"></div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="span9">
				<div id="right">
					<div id="topRight"></div>
					<div id="bottomRight"></div>
					<div id="left">
						<div id="topLeft"></div>
						<div id="bottomLeft"></div>
						<!-- Content -->
						<div id="top">
							<div id="bottom">
								<div id="content">
									@if(user != null){
										<br />
					                  	<ul class="breadcrumb">
					                      	<li><a href="@routes.Application.index()">Home</a><span class="divider">/</span></li>
					                      	<li class="active">@title</li>
					                  	</ul>
									}
									@if(flash.containsKey("message")) {
										<div class="alert alert-success fade in">
											<button type="button" class="close" data-dismiss="alert">x</button>
											@flash.get("message")
										</div>
									} 
									@if(flash.containsKey("error")) {
										<div class="alert alert-error fade in">
											<button type="button" class="close" data-dismiss="alert">x</button>
											@flash.get("error")
										</div>
									} 
									
                  					@content
								</div>
							</div>
						</div>
						<!-- Ende Content -->
					</div>
				</div>
			</div>

			<!-- Navigation -->
			@if(user != null){
					@views.html.snippets.navi(title)
			} else {
					@controllers.Component.loginForm()
			}
			<!-- End Navigation -->

		</div>
	</div>

	<footer>
		<div class="container">
			<div class="span9">
				<div id="htw">
					@views.html.snippets.impressumModal()
					<a href="#impressumModal" data-toggle="modal">Impressum</a>
				</div>
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.10.0.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
	<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/ajax.js")"></script>

</body>
</html>

}