@(title: String)(content: Html)
@defining(Component.currentAccount()) { user =>

<!DOCTYPE html>
<html lang="de">
	<head>
		<title>HTW.plus()</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
		<!-- Own -->
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/background.css")">
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/bootstrap-prettyfile.css")">
		<link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/ajax.css")">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>

	<body>
	
	@if(user != null){
		@views.html.snippets.navi()
	}

		<div class="container">
		
			<div class="row">
				<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
				@if(user != null){
						@views.html.snippets.breadcrumb()
					}
					<div id="hp-right">
						<div id="hp-topRight"></div>
						<div id="hp-bottomRight"></div>
						<div id="hp-left">
							<div id="hp-topLeft"></div>
							<div id="hp-bottomLeft"></div>
							<div id="hp-top">
								<div id="hp-bottom">
									<div id="hp-content">
										@if(flash.containsKey("success")) {
											<div class="alert alert-success fade in">
												<button type="button" class="close fade out" data-dismiss="alert">&times;</button>
												@flash.get("success")
											</div>
										} 
										@if(flash.containsKey("info")) {
											<div class="alert alert-info fade in">
												<button type="button" class="close fade out" data-dismiss="alert">&times;</button>
												@flash.get("info")
											</div>
										} 
										@if(flash.containsKey("error")) {
											<div class="alert alert-danger fade in">
												<button type="button" class="close fade out" data-dismiss="alert">&times;</button>
												@flash.get("error")
											</div>
										} 
										@if(user == null){
											<div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2">
												@controllers.Component.loginForm()
											</div>
										} else {
			                  				@content
			                  			}
									</div> <!-- /content -->
								</div> <!-- /bottom -->
							</div> <!-- /top -->
						</div> <!-- /left -->
					</div> <!-- /right -->
				</div> <!-- /col-xs-9 -->
			</div> <!-- /row -->
		</div> <!-- /container -->
	
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1">
						<div id="hp-htw-logo">
							@views.html.snippets.impressumModal()
							<a href="#impressumModal" data-toggle="modal">Impressum</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
		<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
	    <script type="text/javascript" src="@routes.Assets.at("javascripts/ajax.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/application.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap-prettyfile.js")"></script>

	</body>
</html>

}