@(currentUser: Account, posts:List[Post], postForm: Form[Post], count: Integer, limit: Integer)
@main("Newsstream") {
    
	<h1>Mein Newsstream
		<a type="button" href="@routes.ProfileController.stream(currentUser.id)" class="btn" rel="tooltip" data-original-title="öfftl. Newsstream"><span class="glyphicon glyphicon-comment"></span></a>
	</h1>
  	<br />

	@views.html.snippets.postForm(currentUser.id, models.Post.STREAM, postForm)
		
	@if(posts != null) {
		@for(post <- posts) {
			@views.html.snippets.postView(post, postForm, models.Post.STREAM)
		}
	}
	
	@views.html.snippets.pagination(count, limit)
}