@(account: Account, posts:List[Post], postForm: Form[Post])
@main("Newsstream") {
    
	<h1>Mein Newsstream</h1>
  	<br />
  
	@views.html.snippets.postForm(account.id, models.Post.STREAM, postForm)
	^
	

		<div class="well group">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div>
			<br />
		<div class="well account">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div>
			<br />
		<div class="well course">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</div>
	
	@if(posts != null) {
		@for(post <- posts) {
			@views.html.snippets.postView(post, post.account.id, postForm, models.Post.STREAM)
		}
	}
}