@(currentUser: Account, posts:List[Post], postForm: Form[Post], count: Integer)
@main("Newsstream") {
    
	<h1>Mein Newsstream</h1>
  	<br />

	
	 <ul class="pagination">
	 	
        @for(i <- 0 until count){
            @if(i % 10 == 0){
            	<li><a  href="@routes.Application.stream(i)">@i</a></li>
            }            
        }
        
    </ul>
  
	@views.html.snippets.postForm(currentUser.id, models.Post.PROFILE, postForm)
		
	@if(posts != null) {
		@for(post <- posts) {
			@views.html.snippets.postView(post, postForm, models.Post.PROFILE)
		}
	}
}