@(id: Long, profileForm: Form[Account])
@import helper._

@main("Edit Profile") {
    
    <h2>Edit Profile</h2>
    <br />
    @form(routes.ProfileController.update(id)) {
        
        @inputText(profileForm("firstname"), '_label -> "Vorname: ") 
     	@inputText(profileForm("lastname"), '_label -> "Nachname: ") 
   		@inputText(profileForm("email"), '_label -> "E-Mail: ") 
   		@inputText(profileForm("loginname"), '_label -> "loginname: ") 
   		@inputText(profileForm("password"), '_label -> "password: ") 
   		
        <input type="submit" value="Update" class="btn btn-success">
        
    }
    
}