@(user: Account, postForm: Form[Post])
@import helper._

@main("Profil") {
@defining(Component.currentAccount()) { curUser =>

<h2>
	@user.name
	<div class="btn-group">
		<a type="button" href="@routes.ProfileController.stream(user.id)" class="btn btn-default" rel="tooltip" data-original-title="öfftl. Newsstream" data-container="body"><span class="glyphicon glyphicon-comment"></span></a>
		@if(curUser.id == user.id) {
		<a type="button" href="@routes.ProfileController.edit(user.id)" class="btn btn-default" rel="tooltip" title="Profil bearbeiten" data-container="body"><span class="glyphicon glyphicon-pencil"></span></a> 
		<a type="button" href="@routes.ProfileController.editPassword(user.id)" class="btn btn-default" rel="tooltip" title="Passwort ändern" data-container="body"><span class="glyphicon glyphicon-wrench"></span></a>
		} else { @if(Friendship.alreadyFriendly(curUser, user)) {
		<a type="button" href="#confirmDeleteFriend" class="btn btn-default" data-toggle="modal" rel="tooltip" title="Freundschaft beenden" data-container="body"><span class="glyphicon glyphicon-trash"></span></a>
		} else {
		<a type="button" href="@routes.FriendshipController.requestFriend(user.id)" class="btn btn-default" rel="tooltip" title="Einladung senden" data-container="body"><span class="glyphicon glyphicon-plus"></span></a>
		}}
	</div>
</h2>
<br />
<img alt="avatar" src="@user.getAvatarUrl()" class="img-thumbnail" />
<br />

<!-- confirmDeleteFriendModal -->
<div id="confirmDeleteFriend" class="modal hide fade" tabindex="-1" role="dialog">@views.html.Friends.snippets.deleteFriendModal(user)</div>
<!-- Ende confirmDeleteFriendModal -->

}

<br />
<table class="table">
	<colgroup>
		<col width="25%">
		<col width="75%">
	</colgroup>
	<tr>
		<th>E-Mail</th>
		<td>@user.email</td>
	</tr>
	<tr>
		<th>Studiengang</th>
		@if(user.studycourse != null) {
			<td>@user.studycourse.title</td>
		} else {
			<td>Keine Angabe</td>
		}
	</tr>
	<tr>
		<th>Semester</th>
		@if(user.semester != null) {
			<td>@{user.semester + "."} Semester</td>
		} else {
			<td>Keine Angabe</td>
		}
	</tr>
	<tr>
		<th>Abschluss</th>
		@if(user.degree != null) {
			<td>@user.degree</td>
		} else {
			<td>Keine Angabe</td>
		}
	</tr>
</table>
	
}
