@(user: Account, postForm: Form[Post])
@import helper._

@main("Profil") {
@defining(Component.currentAccount()) { curUser =>

<h2>
	@user.name
	<div class="btn-group">
		<a href="@routes.ProfileController.stream(user.id)" role="button" class="btn" rel="tooltip" data-original-title="Newsstream"><i class="icon-comment"></i></a>
		@if(curUser.id == user.id) {
		<a href="@routes.ProfileController.edit(user.id)" data-target="#editProfileModal" class="btn ajaxModal" data-toggle="modal" rel="tooltip" title="Profil bearbeiten"><i class="icon-pencil"></i></a> 
		<a href="#editPwModal" class="btn last" data-toggle="modal" rel="tooltip" title="Passwort ändern"><i class="icon-wrench"></i></a>
		} else { @if(Friendship.alreadyFriendly(curUser, user)) {
		<a href="#confirmDeleteFriend" class="btn last" data-toggle="modal" rel="tooltip" title="Freundschaft beenden"><i class="icon-trash"></i></a>
		} else {
		<a href="@routes.FriendshipController.requestFriend(user.id)" class="btn last" rel="tooltip" title="Einladung senden"><i class="icon-plus"></i></a>
		}}
	</div>
</h2>
<br />
<img alt="avatar" src="@user.getAvatarUrl()" class="img-polaroid" />
<br />

<!-- confirmDeleteFriendModal -->
<div id="confirmDeleteFriend" class="modal hide fade" tabindex="-1" role="dialog">@views.html.Friends.snippets.deleteFriendModal(user)</div>
<!-- Ende confirmDeleteFriendModal -->

<!-- editModal -->
@if(curUser.id == user.id) {
	@views.html.Profile.snippets.edit()
}
<!-- Ende editModal -->

<!-- editPwModal -->
@if(curUser.id == user.id) {
	@views.html.Profile.snippets.passwordModal()
}
<!-- Ende editPwModal -->
}

<br />
<table class="table">
	<colgroup>
		<col width="25%">
		<col width="75%">
	</colgroup>
	<tr>
		<th>E-Mail</th>
		<td>@user.email</td>
	</tr>
	<tr>
		<th>Studiengang</th>
		@if(user.studycourse != null) {
			<td>@user.studycourse.title</td>
		} else {
			<td>Keine Angabe</td>
		}
	</tr>
	<tr>
		<th>Semester</th>
		@if(user.semester != null) {
			<td>@{user.semester + "."} Semester</td>
		} else {
			<td>Keine Angabe</td>
		}
	</tr>
	<tr>
		<th>Abschluss</th>
		@if(user.degree != null) {
			<td>@user.degree</td>
		} else {
			<td>Keine Angabe</td>
		}
	</tr>
</table>
	
}
