@(user: Account, postForm: Form[Post])
@import helper._

@main("Profil") {
@defining(Component.currentAccount()) { curUser =>

<h2>
	@user.firstname @user.lastname
	<div class="btn-group">
		<a href="@routes.ProfileController.stream(user.id)" role="button" class="btn" rel="tooltip" data-original-title="Newsstream"><i class="icon-comment"></i></a>
		@if(curUser.id == user.id) {
		<a href="@routes.ProfileController.edit(user.id)" data-target="#editProfileModal" class="btn ajaxModal" data-toggle="modal" rel="tooltip" title="Profil bearbeiten"><i class="icon-pencil"></i></a> 
		<a href="#editPwModal" class="btn last" data-toggle="modal" rel="tooltip" title="Passwort ändern"><i class="icon-wrench"></i></a>
		} else { @if(Friendship.alreadyFriendly(curUser, user)) {
		<a href="#confirmDeleteFriend" class="btn last" data-toggle="modal" rel="tooltip" title="Freundschaft beenden"><i class="icon-trash"></i></a>
		} else {
		<a href="@routes.FriendshipController.requestFriend(user.id)" class="btn last" rel="tooltip" title="Einladung senden"><i class="icon-plus"></i></a>
		}}
	</div>
</h2>
<br />
<img alt="avatar" src="@routes.Assets.at("images/avatar.png")" class="img-polaroid" />
<br />

<!-- confirmDeleteFriendModal -->
<div id="confirmDeleteFriend" class="modal hide fade" tabindex="-1" role="dialog">@views.html.Friends.snippets.deleteFriendModal(user)</div>
<!-- Ende confirmDeleteFriendModal -->

<!-- editModal -->
@if(curUser.id == user.id) {
	@views.html.Profile.snippets.edit()
}
<!-- Ende editModal -->

<!-- editPwModal -->
@if(curUser.id == user.id) {
<div id="editPwModal" class="modal hide fade" tabindex="-1"
	role="dialog" aria-labelledby="editPwModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">x</button>
		<h3 id="editPwModalLabel">Passwort ändern</h3>
	</div>
	<div class="modal-body">
		<table class="table">
			<tr>
				<th>Altes Passwort</th>
				<td colspan="3"><input type="password" placeholder="">
				</td>
			</tr>
			<tr>
				<th>Neues Passwort</th>
				<td colspan="3"><input type="password" placeholder="">
				</td>
			</tr>
			<tr>
				<th>Wiederholung</th>
				<td colspan="3"><input type="password" placeholder="">
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Abbrechen</button>
		<button class="btn btn-warning">Speichern</button>
	</div>
</div>
}
<!-- Ende editPwModal -->
}

<br />
<table class="table">
	<colgroup>
		<col width="25%">
		<col width="75%">
	</colgroup>
	<tr>
		<th>E-Mail</th>
		<td>@user.email</td>
	</tr>
	<tr>
		<th>Studiengang</th>
		<td>Angewandte Informatik</td>
	</tr>
	<tr>
		<th>Semester</th>
		<td>2. Semester Master</td>
	</tr>
</table>
	
}
